//************************************************************************//
// Modules
//************************************************************************//

header {
  @include pad(10px);
  @include row();
  height: $header-height;

  h1 {
    float: left;
    line-height: 40px;
    margin-left: 10px;

    a,
    a:visited {
      color: white;
    }
  }
}

.aside {
  @include span-columns(3);

  .button {
    background-color: $base-darker;
    color: $base-dark;
  }
}

.aside-nav {
  @include pad(0 10px 10px);
  @include row();
  @include display-box;
  @include box-align(start);
  @include box-orient(horizontal);
  @include box-pack(start);
  border-bottom: 1px solid $base-darker;

  a.button {
    @include box-flex(1);
  }
}

.list.scenarios {
  @include fill-parent;
  @include pad(0);
  @include row();
  margin-bottom: $gutter;
}

.scenarios-header {
  @include pad(10px);
  border-color: $base-lite;
  color: $base-liter;
  height: auto;

  .avatar {
    border: 1px solid $base-lite;
    float: right;
    margin-right: 10px;
  }

  h2 {
    line-height: 30px;
  }

  .icon {
    color: $base-darker;
    margin-right: 10px;
  }
}

.row.scenario {
  $height: 80px;
  @include fill-parent;
  @include display-box;
  @include box-align(start);
  @include box-orient(horizontal);
  @include box-pack(start);
  background-color: white;
  cursor: pointer;
  height: $height;
  margin-bottom: 3px;
  opacity: 0.2;
  overflow: hidden;

  &:hover {
    opacity: 0.8;
  }

  &.is-active {
    opacity: 1;
  }

  .media-image {
    @include box-flex(1);
    border-right: 1px solid $base-border-color;
    overflow: hidden;
    width: 80px;
  }

  .media-body {
    @include box-flex(2);
  }

  .fillometer {
    background-color: transparent;
    border-radius: 0;
    border: 0;
  }
}

.scenario-title {
  padding: 10px;
}

.scenario-meta {
  @include fill-parent;
  @include display-box;
  @include box-align(start);
  @include box-orient(horizontal);
  @include box-pack(start);

  li {
    @include box-flex(1);
    border-right: 1px solid $base-lite;
    padding: 5px 0;
    text-align: center;

    &:last-child {
      border-right: 0;
    }
  }
}

.main {
  @include span-columns(9.3);
  @include omega;
  @include position(absolute, 0px 0px 0px 0);
  background-color: white;
  // border-left: 1px solid $base-darker;
}

.main-header {
  @include outer-container;
}

.feature-title {
  @include span-columns(4 of 9);
  line-height: 40px;
}

.feature-controls {
  @include span-columns(5 of 9);
}

.view-controls {

  .button {
    float: left;
    margin-right: 5px;
  }

  .slider {
    float: left;
    height: 40px;
    margin: 0 5px;
    width: 60%;
  }
}

.pane {
  @include transition();
  @include outer-container;
  z-index: 99;
}

.conversation-pane {
  @include position(absolute, $header-height 0 0px 0);
  background-color: $base-liter;
  border-left: 1px solid $base-border-color;
  border-top: 1px solid $base-border-color;
  box-shadow: inset 1px 0 0 white;
  right: -$conversation-width;
  width: $conversation-width;

  .scroll-container {
    @include position(absolute, 0px 0 180px 0);
  }
}

.code-pane {
  $line-height: 24px;
  $padding-top: 10px;
  $pane-height: $line-height * 5 + $padding-top;
  @include position(absolute, 0 0px 0 0px);
  bottom: -$pane-height;
  background-color: rgba(black, 0.8);
  border-top: 1px solid black;
  color: white;
  font-family: $base-font-family-mono;
  height: $pane-height; // Initial height
  line-height: $line-height;
  z-index: 98;

  .line-numbers {
    border-right: 1px solid $base-dark;
    float: left;
    margin-bottom: 0;
    margin-top: 0;
    padding: $padding-top $gutter;
    width: $main-offset + 1px;

    li {
      height: $line-height;
      line-height: $line-height;
      text-align: right;
    }
  }

  .code-container {
    @include span-columns(11);
    @include omega;
    padding-top: $padding-top;
  }

  code {
    display: block;
    height: $line-height;
    line-height: $line-height;
    padding: 0 $gutter;

    &::selection {
      background-color: white;
      color: black;
    }

    &:hover {
      background-color: black;
    }
  }
}
