article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  background: white;
  color: black;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

body {
  margin: 0; }

a:focus {
  outline: thin dotted; }
a:hover, a:active {
  outline: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

h6 {
  font-size: 0.75em;
  margin: 2.33em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

q:before,
q:after {
  content: '';
  content: none; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

button,
input {
  line-height: normal; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
input[disabled] {
  cursor: default; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

@font-face {
  font-family: batch-icons;
  font-weight: normal;
  font-style: normal;
  src: url("../../fonts/batch/batch-icons-webfont.eot");
  src: url("../../fonts/batch/batch-icons-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/batch/batch-icons-webfont.woff") format("woff"), url("../../fonts/batch/batch-icons-webfont.ttf") format("truetype"), url("../../fonts/batch/batch-icons-webfont.svg#batch-icons") format("svg"); }

@font-face {
  font-family: source-code;
  font-weight: normal;
  font-style: normal;
  src: url("../../fonts/source-code/SourceCodePro-Regular-webfont.eot");
  src: url("../../fonts/source-code/SourceCodePro-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/source-code/SourceCodePro-Regular-webfont.woff") format("woff"), url("../../fonts/source-code/SourceCodePro-Regular-webfont.ttf") format("truetype"), url("../../fonts/source-code/SourceCodePro-Regular-webfont.svg#source-code") format("svg"); }

@font-face {
  font-family: source-code;
  font-weight: bold;
  font-style: normal;
  src: url("../../fonts/source-code/SourceCodePro-Bold-webfont.eot");
  src: url("../../fonts/source-code/SourceCodePro-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/source-code/SourceCodePro-Bold-webfont.woff") format("woff"), url("../../fonts/source-code/SourceCodePro-Bold-webfont.ttf") format("truetype"), url("../../fonts/source-code/SourceCodePro-Bold-webfont.svg#source-code") format("svg"); }

html,
body {
  background-color: #333333;
  color: #f0f0f0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.25em;
  height: 100%; }

h1,
h2,
h3,
h4 {
  padding: 0;
  margin: 0; }

h1 {
  font-size: 2.25em; }

a {
  text-decoration: none; }

ol,
ul {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

.left {
  float: left; }

.right {
  float: right; }

.button {
  background-color: #555555;
  border-radius: 5px;
  color: #f0f0f0;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  height: 2.5em;
  line-height: 2.5em;
  min-width: 2.5em;
  padding: 0 0.625em;
  text-align: center; }
  .button.active {
    background-color: #f0f0f0;
    color: #555555; }

.button-group .button {
  border-radius: 0;
  float: left;
  margin-right: 3px; }
  .button-group .button:first-child {
    border-radius: 5px 0 0 5px; }
  .button-group .button:last-child {
    border-radius: 0 5px 5px 0;
    margin-right: 0; }
  .button-group .button:only-child {
    border-radius: 5px; }

.icon, .logo {
  font-family: batch-icons;
  font-weight: normal;
  padding-right: 5px; }

[data-fillometer] {
  background-color: #404040; }
  [data-fillometer]:hover, .test-list .test:hover [data-fillometer] {
    background-color: #fb6f6f !important; }

.logo {
  float: left;
  text-align: center; }

.block, .logo, .avatar, .view-controls {
  width: 3.75em;
  height: 3.75em;
  border-color: #555555;
  border-right: 1px solid #555555;
  color: #f0f0f0;
  cursor: pointer;
  display: block;
  float: left;
  line-height: 2.5em;
  padding: 0.625em;
  position: relative; }
  .block .icon, .logo .icon, .avatar .icon, .view-controls .icon, .block .logo, .logo .logo, .avatar .logo, .view-controls .logo {
    color: inherit;
    display: block;
    font-size: 1.25em;
    padding: 0;
    text-align: center; }
  .block:hover, .logo:hover, .avatar:hover, .view-controls:hover {
    background-color: black; }
  .block.is-selected, .is-selected.logo, .is-selected.avatar, .is-selected.view-controls {
    background-color: #555555;
    border-color: #333333;
    color: #f0f0f0; }
    .block.is-selected:hover, .is-selected.logo:hover, .is-selected.avatar:hover, .is-selected.view-controls:hover {
      background-color: #626262; }
  .block[data-toggle-pane].is-selected::before, [data-toggle-pane].is-selected.logo::before, [data-toggle-pane].is-selected.avatar::before, [data-toggle-pane].is-selected.view-controls::before {
    position: absolute;
    bottom: 0px;
    left: 50%;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: #333333;
    border-bottom: 0;
    border-right: 0;
    content: "";
    height: 10px;
    margin-left: -6px;
    margin-bottom: -5px;
    width: 10px; }

.avatar {
  border: 0;
  overflow: hidden;
  padding: 0;
  position: relative; }
  .avatar img {
    display: block;
    height: auto;
    width: 100%; }

.avatar.small {
  width: 1.25em;
  height: 1.25em;
  border-radius: 0.625em; }

.thumbnail {
  overflow: hidden; }
  .thumbnail img {
    width: 100%;
    height: auto;
    display: block; }

.dropdown-toggle {
  border-radius: 5px;
  border: 1px solid #555555;
  color: #bdbdbd;
  cursor: pointer;
  display: inline-block;
  padding: 0 10px; }
  .dropdown-toggle b {
    color: #f0f0f0; }
  .dropdown-toggle .icon, .dropdown-toggle .logo {
    width: 1.875em;
    height: 1.875em;
    border-left: 2px solid #555555;
    color: inherit;
    margin-left: 10px;
    padding-left: 10px; }
  .dropdown-toggle:hover {
    background-color: #555555; }
    .dropdown-toggle:hover .icon, .dropdown-toggle:hover .logo {
      border-color: #333333; }

.chooser {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 23.23176%;
  margin-right: 0;
  border-bottom: 1px solid #555555;
  border-right: 1px solid #555555;
  color: #555555;
  line-height: 1.25em;
  padding: 0;
  position: relative; }
  .chooser:last-child {
    margin-right: 0; }
  .chooser.is-selected .chooser-menu {
    display: block;
    color: inherit; }

.chooser-toggle {
  cursor: pointer;
  height: 3.6875em;
  padding: 0.625em 3.125em 0.625em 1.25em; }
  .chooser-toggle .icon, .chooser-toggle .logo {
    position: absolute;
    top: 50%;
    right: 0.625em;
    bottom: 0px;
    width: 20px;
    height: 20px;
    color: inherit;
    font-size: 1.5em;
    margin-top: -10px;
    padding-top: 2px; }
  .chooser-toggle:hover {
    color: #f0f0f0; }

.chooser-menu {
  position: absolute;
  top: 3.75em;
  right: 0px;
  left: -1px;
  display: none; }
  .chooser-menu li {
    height: 3.75em;
    padding: 0.625em 3.125em 0.625em 1.25em;
    background-color: #333333;
    color: inherit;
    border: 0;
    position: relative;
    z-index: 1; }
    .chooser-menu li:hover {
      color: #f0f0f0; }
    .chooser-menu li:last-child {
      border-radius: 0 0 5px 5px; }

.view-controls {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  overflow: hidden; }
  .view-controls:hover {
    background-color: transparent; }

.slider {
  position: relative;
  height: 100%; }
  .slider .ui-slider-handle {
    position: absolute;
    top: 50%;
    right: 25%;
    width: 24px;
    height: 24px;
    background-color: #555555;
    border-radius: 12px;
    border: 5px solid #333333;
    cursor: pointer;
    margin-top: -10px;
    outline: none;
    z-index: 1; }
    .slider .ui-slider-handle::before {
      position: absolute;
      top: 28px;
      left: 50%;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
      background-color: #f0f0f0;
      border-bottom: 0;
      border-right: 0;
      border: 1px solid #f0f0f0;
      content: "";
      height: 10px;
      margin-left: -6px;
      width: 10px; }
    .slider .ui-slider-handle:hover, .slider .ui-slider-handle:active {
      background-color: #f0f0f0; }
  .slider .ui-slider-track {
    position: relative;
    top: 50%;
    background-color: #555555;
    height: 4px;
    margin-top: -2px; }

.preview {
  -webkit-transition: all 0.15s ease-out 0;
  -moz-transition: all 0.15s ease-out 0;
  transition: all 0.15s ease-out 0;
  position: relative;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1; }
  .preview iframe {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border: 0; }

header {
  border-bottom: 1px solid #555555;
  color: #555555;
  height: 3.75em;
  line-height: 2.5em; }

.global-header {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  -webkit-box-align: start;
  -moz-box-align: start;
  box-align: start;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  box-pack: start;
  position: relative;
  z-index: 11; }

.sidebar {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 23.23176%;
  margin-right: 0; }
  .sidebar:last-child {
    margin-right: 0; }
  .sidebar nav {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    -webkit-box-pack: start;
    -moz-box-pack: start;
    box-pack: start;
    -webkit-box-align: stretch;
    -moz-box-align: stretch;
    box-align: stretch;
    padding-top: 0.625em;
    width: 100%; }
    .sidebar nav .button {
      -webkit-box-flex: 1;
      -moz-box-flex: 1;
      box-flex: 1;
      display: block;
      float: none; }

.build-list {
  margin-top: 1.618em;
  border: 1px solid #555555;
  border-radius: 5px;
  overflow: hidden; }
  .build-list li {
    *zoom: 1;
    display: block;
    height: 3.75em;
    line-height: 3.75em;
    border-top: 1px solid #555555;
    padding: 0 1.25em; }
    .build-list li:before, .build-list li:after {
      content: " ";
      display: table; }
    .build-list li:after {
      clear: both; }
  .build-list .header {
    background-color: #555555;
    border: 0;
    color: #bbbbbb;
    height: 2.5em;
    line-height: 2.5em; }
  .build-list .avatar.small {
    margin: 1.25em 0.625em 0 0;
    float: left; }

.main {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 74.41059%;
  margin-right: 0;
  position: absolute;
  top: 3.75em;
  right: 0px;
  bottom: 0px;
  padding: 0 1.25em 1.25em;
  border-left: 1px solid #555555;
  background-color: #3b3b3b; }
  .main:last-child {
    margin-right: 0; }

.main-header {
  padding: 1.25em 0 0;
  color: #f0f0f0;
  border: 0; }

.main-title .icon, .main-title .logo {
  margin-right: 10px; }
.main-title .commit-message {
  color: #bdbdbd;
  font-family: source-code, "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
  font-size: 0.8em;
  font-weight: normal;
  margin-left: 20px; }

.test-list {
  *zoom: 1;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 2.35765% 1.618em 0; }
  .test-list:before, .test-list:after {
    content: " ";
    display: table; }
  .test-list:after {
    clear: both; }
  .test-list .test {
    display: block;
    float: left;
    margin-right: 3.16844%;
    width: 31.22104%;
    border-radius: 3px;
    border: 1px solid #555555;
    color: #555555;
    cursor: pointer;
    display: block;
    margin-bottom: 2.427em; }
    .test-list .test:last-child {
      margin-right: 0; }
    .test-list .test:hover {
      background-color: #555555;
      border-color: #888888;
      box-shadow: 0 0 0 5px #2b2b2b;
      color: white; }
    .test-list .test:nth-child(3) {
      margin-right: 0; }
  .test-list .thumbnail {
    height: 15.625em;
    margin: 0.625em; }
  .test-list .test-title {
    border: 0;
    border-color: inherit;
    border-style: inherit;
    border-top-width: 1px;
    font-family: source-code, "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
    font-weight: normal;
    height: 3.125em;
    line-height: 3.125em;
    padding: 0 0.625em; }

.pane-container {
  -webkit-transition: all 0.15s ease-out 0;
  -moz-transition: all 0.15s ease-out 0;
  transition: all 0.15s ease-out 0;
  position: absolute;
  top: 3.75em;
  right: 0px;
  bottom: 0px;
  background-color: #333333;
  width: 25%;
  right: -25%; }
  .pane-container .pane-resizer {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    width: 10px;
    cursor: col-resize; }
  .pane-container .pane {
    display: none; }
    .pane-container .pane.is-active {
      display: block; }
  .pane-container .ui-resizable-handle {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    width: 10px;
    cursor: col-resize; }

.code-header {
  padding: 0.625em 2.35765%;
  color: #f0f0f0;
  text-align: center; }

.code-container {
  *zoom: 1;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid #555555; }
  .code-container:before, .code-container:after {
    content: " ";
    display: table; }
  .code-container:after {
    clear: both; }

.line {
  *zoom: 1; }
  .line:before, .line:after {
    content: " ";
    display: table; }
  .line:after {
    clear: both; }
  .line:hover {
    background-color: #262626; }

.line-number,
.line-code {
  line-height: 2.5em;
  float: left;
  font-family: source-code, "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
  height: 2.5em;
  padding: 0 0.625em; }

.line-number {
  width: 15%;
  border-right: 1px solid #555555;
  text-align: right; }

.line-code {
  width: 85%;
  margin: 0;
  text-align: left; }
  .line-code i {
    font-style: normal;
    background-color: #f0f0f0;
    padding: 5px 5px 10px;
    border-radius: 3px 3px 0 0;
    color: #333333;
    font-weight: bold; }

.code-ref {
  background-color: black;
  border-top: 1px solid #f0f0f0; }
  .code-ref .ref-header {
    padding: 2.35765%; }
    .code-ref .ref-header .icon, .code-ref .ref-header .logo {
      float: right; }
  .code-ref .code-container {
    border-color: #f0f0f0; }
    .code-ref .code-container .line:hover {
      background-color: #262626; }

body.pane-open .preview {
  width: 75%; }
body.pane-open .pane-container {
  right: 0; }

[data-fillometer="1"] {
  background-image: -webkit-linear-gradient(right, #333333 99%, transparent 99%);
  background-image: linear-gradient(to left, #333333 99%, transparent 99%); }

[data-fillometer="2"] {
  background-image: -webkit-linear-gradient(right, #333333 98%, transparent 98%);
  background-image: linear-gradient(to left, #333333 98%, transparent 98%); }

[data-fillometer="3"] {
  background-image: -webkit-linear-gradient(right, #333333 97%, transparent 97%);
  background-image: linear-gradient(to left, #333333 97%, transparent 97%); }

[data-fillometer="4"] {
  background-image: -webkit-linear-gradient(right, #333333 96%, transparent 96%);
  background-image: linear-gradient(to left, #333333 96%, transparent 96%); }

[data-fillometer="5"] {
  background-image: -webkit-linear-gradient(right, #333333 95%, transparent 95%);
  background-image: linear-gradient(to left, #333333 95%, transparent 95%); }

[data-fillometer="6"] {
  background-image: -webkit-linear-gradient(right, #333333 94%, transparent 94%);
  background-image: linear-gradient(to left, #333333 94%, transparent 94%); }

[data-fillometer="7"] {
  background-image: -webkit-linear-gradient(right, #333333 93%, transparent 93%);
  background-image: linear-gradient(to left, #333333 93%, transparent 93%); }

[data-fillometer="8"] {
  background-image: -webkit-linear-gradient(right, #333333 92%, transparent 92%);
  background-image: linear-gradient(to left, #333333 92%, transparent 92%); }

[data-fillometer="9"] {
  background-image: -webkit-linear-gradient(right, #333333 91%, transparent 91%);
  background-image: linear-gradient(to left, #333333 91%, transparent 91%); }

[data-fillometer="10"] {
  background-image: -webkit-linear-gradient(right, #333333 90%, transparent 90%);
  background-image: linear-gradient(to left, #333333 90%, transparent 90%); }

[data-fillometer="11"] {
  background-image: -webkit-linear-gradient(right, #333333 89%, transparent 89%);
  background-image: linear-gradient(to left, #333333 89%, transparent 89%); }

[data-fillometer="12"] {
  background-image: -webkit-linear-gradient(right, #333333 88%, transparent 88%);
  background-image: linear-gradient(to left, #333333 88%, transparent 88%); }

[data-fillometer="13"] {
  background-image: -webkit-linear-gradient(right, #333333 87%, transparent 87%);
  background-image: linear-gradient(to left, #333333 87%, transparent 87%); }

[data-fillometer="14"] {
  background-image: -webkit-linear-gradient(right, #333333 86%, transparent 86%);
  background-image: linear-gradient(to left, #333333 86%, transparent 86%); }

[data-fillometer="15"] {
  background-image: -webkit-linear-gradient(right, #333333 85%, transparent 85%);
  background-image: linear-gradient(to left, #333333 85%, transparent 85%); }

[data-fillometer="16"] {
  background-image: -webkit-linear-gradient(right, #333333 84%, transparent 84%);
  background-image: linear-gradient(to left, #333333 84%, transparent 84%); }

[data-fillometer="17"] {
  background-image: -webkit-linear-gradient(right, #333333 83%, transparent 83%);
  background-image: linear-gradient(to left, #333333 83%, transparent 83%); }

[data-fillometer="18"] {
  background-image: -webkit-linear-gradient(right, #333333 82%, transparent 82%);
  background-image: linear-gradient(to left, #333333 82%, transparent 82%); }

[data-fillometer="19"] {
  background-image: -webkit-linear-gradient(right, #333333 81%, transparent 81%);
  background-image: linear-gradient(to left, #333333 81%, transparent 81%); }

[data-fillometer="20"] {
  background-image: -webkit-linear-gradient(right, #333333 80%, transparent 80%);
  background-image: linear-gradient(to left, #333333 80%, transparent 80%); }

[data-fillometer="21"] {
  background-image: -webkit-linear-gradient(right, #333333 79%, transparent 79%);
  background-image: linear-gradient(to left, #333333 79%, transparent 79%); }

[data-fillometer="22"] {
  background-image: -webkit-linear-gradient(right, #333333 78%, transparent 78%);
  background-image: linear-gradient(to left, #333333 78%, transparent 78%); }

[data-fillometer="23"] {
  background-image: -webkit-linear-gradient(right, #333333 77%, transparent 77%);
  background-image: linear-gradient(to left, #333333 77%, transparent 77%); }

[data-fillometer="24"] {
  background-image: -webkit-linear-gradient(right, #333333 76%, transparent 76%);
  background-image: linear-gradient(to left, #333333 76%, transparent 76%); }

[data-fillometer="25"] {
  background-image: -webkit-linear-gradient(right, #333333 75%, transparent 75%);
  background-image: linear-gradient(to left, #333333 75%, transparent 75%); }

[data-fillometer="26"] {
  background-image: -webkit-linear-gradient(right, #333333 74%, transparent 74%);
  background-image: linear-gradient(to left, #333333 74%, transparent 74%); }

[data-fillometer="27"] {
  background-image: -webkit-linear-gradient(right, #333333 73%, transparent 73%);
  background-image: linear-gradient(to left, #333333 73%, transparent 73%); }

[data-fillometer="28"] {
  background-image: -webkit-linear-gradient(right, #333333 72%, transparent 72%);
  background-image: linear-gradient(to left, #333333 72%, transparent 72%); }

[data-fillometer="29"] {
  background-image: -webkit-linear-gradient(right, #333333 71%, transparent 71%);
  background-image: linear-gradient(to left, #333333 71%, transparent 71%); }

[data-fillometer="30"] {
  background-image: -webkit-linear-gradient(right, #333333 70%, transparent 70%);
  background-image: linear-gradient(to left, #333333 70%, transparent 70%); }

[data-fillometer="31"] {
  background-image: -webkit-linear-gradient(right, #333333 69%, transparent 69%);
  background-image: linear-gradient(to left, #333333 69%, transparent 69%); }

[data-fillometer="32"] {
  background-image: -webkit-linear-gradient(right, #333333 68%, transparent 68%);
  background-image: linear-gradient(to left, #333333 68%, transparent 68%); }

[data-fillometer="33"] {
  background-image: -webkit-linear-gradient(right, #333333 67%, transparent 67%);
  background-image: linear-gradient(to left, #333333 67%, transparent 67%); }

[data-fillometer="34"] {
  background-image: -webkit-linear-gradient(right, #333333 66%, transparent 66%);
  background-image: linear-gradient(to left, #333333 66%, transparent 66%); }

[data-fillometer="35"] {
  background-image: -webkit-linear-gradient(right, #333333 65%, transparent 65%);
  background-image: linear-gradient(to left, #333333 65%, transparent 65%); }

[data-fillometer="36"] {
  background-image: -webkit-linear-gradient(right, #333333 64%, transparent 64%);
  background-image: linear-gradient(to left, #333333 64%, transparent 64%); }

[data-fillometer="37"] {
  background-image: -webkit-linear-gradient(right, #333333 63%, transparent 63%);
  background-image: linear-gradient(to left, #333333 63%, transparent 63%); }

[data-fillometer="38"] {
  background-image: -webkit-linear-gradient(right, #333333 62%, transparent 62%);
  background-image: linear-gradient(to left, #333333 62%, transparent 62%); }

[data-fillometer="39"] {
  background-image: -webkit-linear-gradient(right, #333333 61%, transparent 61%);
  background-image: linear-gradient(to left, #333333 61%, transparent 61%); }

[data-fillometer="40"] {
  background-image: -webkit-linear-gradient(right, #333333 60%, transparent 60%);
  background-image: linear-gradient(to left, #333333 60%, transparent 60%); }

[data-fillometer="41"] {
  background-image: -webkit-linear-gradient(right, #333333 59%, transparent 59%);
  background-image: linear-gradient(to left, #333333 59%, transparent 59%); }

[data-fillometer="42"] {
  background-image: -webkit-linear-gradient(right, #333333 58.0%, transparent 58.0%);
  background-image: linear-gradient(to left, #333333 58.0%, transparent 58.0%); }

[data-fillometer="43"] {
  background-image: -webkit-linear-gradient(right, #333333 57.0%, transparent 57.0%);
  background-image: linear-gradient(to left, #333333 57.0%, transparent 57.0%); }

[data-fillometer="44"] {
  background-image: -webkit-linear-gradient(right, #333333 56.0%, transparent 56.0%);
  background-image: linear-gradient(to left, #333333 56.0%, transparent 56.0%); }

[data-fillometer="45"] {
  background-image: -webkit-linear-gradient(right, #333333 55.0%, transparent 55.0%);
  background-image: linear-gradient(to left, #333333 55.0%, transparent 55.0%); }

[data-fillometer="46"] {
  background-image: -webkit-linear-gradient(right, #333333 54%, transparent 54%);
  background-image: linear-gradient(to left, #333333 54%, transparent 54%); }

[data-fillometer="47"] {
  background-image: -webkit-linear-gradient(right, #333333 53%, transparent 53%);
  background-image: linear-gradient(to left, #333333 53%, transparent 53%); }

[data-fillometer="48"] {
  background-image: -webkit-linear-gradient(right, #333333 52%, transparent 52%);
  background-image: linear-gradient(to left, #333333 52%, transparent 52%); }

[data-fillometer="49"] {
  background-image: -webkit-linear-gradient(right, #333333 51%, transparent 51%);
  background-image: linear-gradient(to left, #333333 51%, transparent 51%); }

[data-fillometer="50"] {
  background-image: -webkit-linear-gradient(right, #333333 50%, transparent 50%);
  background-image: linear-gradient(to left, #333333 50%, transparent 50%); }

[data-fillometer="51"] {
  background-image: -webkit-linear-gradient(right, #333333 49%, transparent 49%);
  background-image: linear-gradient(to left, #333333 49%, transparent 49%); }

[data-fillometer="52"] {
  background-image: -webkit-linear-gradient(right, #333333 48%, transparent 48%);
  background-image: linear-gradient(to left, #333333 48%, transparent 48%); }

[data-fillometer="53"] {
  background-image: -webkit-linear-gradient(right, #333333 47%, transparent 47%);
  background-image: linear-gradient(to left, #333333 47%, transparent 47%); }

[data-fillometer="54"] {
  background-image: -webkit-linear-gradient(right, #333333 46%, transparent 46%);
  background-image: linear-gradient(to left, #333333 46%, transparent 46%); }

[data-fillometer="55"] {
  background-image: -webkit-linear-gradient(right, #333333 45%, transparent 45%);
  background-image: linear-gradient(to left, #333333 45%, transparent 45%); }

[data-fillometer="56"] {
  background-image: -webkit-linear-gradient(right, #333333 44%, transparent 44%);
  background-image: linear-gradient(to left, #333333 44%, transparent 44%); }

[data-fillometer="57"] {
  background-image: -webkit-linear-gradient(right, #333333 43%, transparent 43%);
  background-image: linear-gradient(to left, #333333 43%, transparent 43%); }

[data-fillometer="58"] {
  background-image: -webkit-linear-gradient(right, #333333 42%, transparent 42%);
  background-image: linear-gradient(to left, #333333 42%, transparent 42%); }

[data-fillometer="59"] {
  background-image: -webkit-linear-gradient(right, #333333 41%, transparent 41%);
  background-image: linear-gradient(to left, #333333 41%, transparent 41%); }

[data-fillometer="60"] {
  background-image: -webkit-linear-gradient(right, #333333 40%, transparent 40%);
  background-image: linear-gradient(to left, #333333 40%, transparent 40%); }

[data-fillometer="61"] {
  background-image: -webkit-linear-gradient(right, #333333 39%, transparent 39%);
  background-image: linear-gradient(to left, #333333 39%, transparent 39%); }

[data-fillometer="62"] {
  background-image: -webkit-linear-gradient(right, #333333 38%, transparent 38%);
  background-image: linear-gradient(to left, #333333 38%, transparent 38%); }

[data-fillometer="63"] {
  background-image: -webkit-linear-gradient(right, #333333 37%, transparent 37%);
  background-image: linear-gradient(to left, #333333 37%, transparent 37%); }

[data-fillometer="64"] {
  background-image: -webkit-linear-gradient(right, #333333 36%, transparent 36%);
  background-image: linear-gradient(to left, #333333 36%, transparent 36%); }

[data-fillometer="65"] {
  background-image: -webkit-linear-gradient(right, #333333 35%, transparent 35%);
  background-image: linear-gradient(to left, #333333 35%, transparent 35%); }

[data-fillometer="66"] {
  background-image: -webkit-linear-gradient(right, #333333 34%, transparent 34%);
  background-image: linear-gradient(to left, #333333 34%, transparent 34%); }

[data-fillometer="67"] {
  background-image: -webkit-linear-gradient(right, #333333 33%, transparent 33%);
  background-image: linear-gradient(to left, #333333 33%, transparent 33%); }

[data-fillometer="68"] {
  background-image: -webkit-linear-gradient(right, #333333 32%, transparent 32%);
  background-image: linear-gradient(to left, #333333 32%, transparent 32%); }

[data-fillometer="69"] {
  background-image: -webkit-linear-gradient(right, #333333 31%, transparent 31%);
  background-image: linear-gradient(to left, #333333 31%, transparent 31%); }

[data-fillometer="70"] {
  background-image: -webkit-linear-gradient(right, #333333 30%, transparent 30%);
  background-image: linear-gradient(to left, #333333 30%, transparent 30%); }

[data-fillometer="71"] {
  background-image: -webkit-linear-gradient(right, #333333 29.0%, transparent 29.0%);
  background-image: linear-gradient(to left, #333333 29.0%, transparent 29.0%); }

[data-fillometer="72"] {
  background-image: -webkit-linear-gradient(right, #333333 28.0%, transparent 28.0%);
  background-image: linear-gradient(to left, #333333 28.0%, transparent 28.0%); }

[data-fillometer="73"] {
  background-image: -webkit-linear-gradient(right, #333333 27%, transparent 27%);
  background-image: linear-gradient(to left, #333333 27%, transparent 27%); }

[data-fillometer="74"] {
  background-image: -webkit-linear-gradient(right, #333333 26%, transparent 26%);
  background-image: linear-gradient(to left, #333333 26%, transparent 26%); }

[data-fillometer="75"] {
  background-image: -webkit-linear-gradient(right, #333333 25%, transparent 25%);
  background-image: linear-gradient(to left, #333333 25%, transparent 25%); }

[data-fillometer="76"] {
  background-image: -webkit-linear-gradient(right, #333333 24%, transparent 24%);
  background-image: linear-gradient(to left, #333333 24%, transparent 24%); }

[data-fillometer="77"] {
  background-image: -webkit-linear-gradient(right, #333333 23%, transparent 23%);
  background-image: linear-gradient(to left, #333333 23%, transparent 23%); }

[data-fillometer="78"] {
  background-image: -webkit-linear-gradient(right, #333333 22%, transparent 22%);
  background-image: linear-gradient(to left, #333333 22%, transparent 22%); }

[data-fillometer="79"] {
  background-image: -webkit-linear-gradient(right, #333333 21%, transparent 21%);
  background-image: linear-gradient(to left, #333333 21%, transparent 21%); }

[data-fillometer="80"] {
  background-image: -webkit-linear-gradient(right, #333333 20%, transparent 20%);
  background-image: linear-gradient(to left, #333333 20%, transparent 20%); }

[data-fillometer="81"] {
  background-image: -webkit-linear-gradient(right, #333333 19%, transparent 19%);
  background-image: linear-gradient(to left, #333333 19%, transparent 19%); }

[data-fillometer="82"] {
  background-image: -webkit-linear-gradient(right, #333333 18%, transparent 18%);
  background-image: linear-gradient(to left, #333333 18%, transparent 18%); }

[data-fillometer="83"] {
  background-image: -webkit-linear-gradient(right, #333333 17%, transparent 17%);
  background-image: linear-gradient(to left, #333333 17%, transparent 17%); }

[data-fillometer="84"] {
  background-image: -webkit-linear-gradient(right, #333333 16%, transparent 16%);
  background-image: linear-gradient(to left, #333333 16%, transparent 16%); }

[data-fillometer="85"] {
  background-image: -webkit-linear-gradient(right, #333333 15%, transparent 15%);
  background-image: linear-gradient(to left, #333333 15%, transparent 15%); }

[data-fillometer="86"] {
  background-image: -webkit-linear-gradient(right, #333333 14.0%, transparent 14.0%);
  background-image: linear-gradient(to left, #333333 14.0%, transparent 14.0%); }

[data-fillometer="87"] {
  background-image: -webkit-linear-gradient(right, #333333 13%, transparent 13%);
  background-image: linear-gradient(to left, #333333 13%, transparent 13%); }

[data-fillometer="88"] {
  background-image: -webkit-linear-gradient(right, #333333 12%, transparent 12%);
  background-image: linear-gradient(to left, #333333 12%, transparent 12%); }

[data-fillometer="89"] {
  background-image: -webkit-linear-gradient(right, #333333 11%, transparent 11%);
  background-image: linear-gradient(to left, #333333 11%, transparent 11%); }

[data-fillometer="90"] {
  background-image: -webkit-linear-gradient(right, #333333 10%, transparent 10%);
  background-image: linear-gradient(to left, #333333 10%, transparent 10%); }

[data-fillometer="91"] {
  background-image: -webkit-linear-gradient(right, #333333 9%, transparent 9%);
  background-image: linear-gradient(to left, #333333 9%, transparent 9%); }

[data-fillometer="92"] {
  background-image: -webkit-linear-gradient(right, #333333 8%, transparent 8%);
  background-image: linear-gradient(to left, #333333 8%, transparent 8%); }

[data-fillometer="93"] {
  background-image: -webkit-linear-gradient(right, #333333 7.0%, transparent 7.0%);
  background-image: linear-gradient(to left, #333333 7.0%, transparent 7.0%); }

[data-fillometer="94"] {
  background-image: -webkit-linear-gradient(right, #333333 6%, transparent 6%);
  background-image: linear-gradient(to left, #333333 6%, transparent 6%); }

[data-fillometer="95"] {
  background-image: -webkit-linear-gradient(right, #333333 5%, transparent 5%);
  background-image: linear-gradient(to left, #333333 5%, transparent 5%); }

[data-fillometer="96"] {
  background-image: -webkit-linear-gradient(right, #333333 4%, transparent 4%);
  background-image: linear-gradient(to left, #333333 4%, transparent 4%); }

[data-fillometer="97"] {
  background-image: -webkit-linear-gradient(right, #333333 3%, transparent 3%);
  background-image: linear-gradient(to left, #333333 3%, transparent 3%); }

[data-fillometer="98"] {
  background-image: -webkit-linear-gradient(right, #333333 2%, transparent 2%);
  background-image: linear-gradient(to left, #333333 2%, transparent 2%); }

[data-fillometer="99"] {
  background-image: -webkit-linear-gradient(right, #333333 1%, transparent 1%);
  background-image: linear-gradient(to left, #333333 1%, transparent 1%); }

[data-fillometer="100"] {
  background-image: -webkit-linear-gradient(right, #333333 0%, transparent 0%);
  background-image: linear-gradient(to left, #333333 0%, transparent 0%); }
