//************************************************************************//
// Imports
//************************************************************************//

@import "vendor/normalize";
@import "bourbon/bourbon";

// Neat settings
@import "neat/neat-helpers";

$max-width: 100%;

@import "neat/neat";


//************************************************************************//
// Variables
//************************************************************************//

$base-darker: #333;
$base-dark: #666;
$base-mid: #999;
$base-lite: #CCC;
$base-liter: #F0F0F0;

$base-color: $base-darker;
$base-background-color: white;
$base-border-color: $base-mid;
$base-font-family: $helvetica;
$base-shadow: 0 1px 0 white;

$status-positive: green;
$status-negative: red;

$header-height: 60px;
$fillometer-large-height: 40px;
$tools-height: 60px;

//************************************************************************//
// Mixins and functions
//************************************************************************//

@mixin vertical-center-text($height) {
  height: $height;
  line-height: $height;
}

@mixin hover-text-decoration {
  &:hover {
    text-decoration: none;
  }
}

@mixin carrot($border, $background: white, $size: 10px, $position: 50%, $direction: up) {
  position: relative;

  &::before {
    @if $direction == up {
      border: 1px solid $border;
      border-bottom: 0;
      border-right: 0;
      top: -($size / 2) - 1px;
    }

    @include transform(rotate(45deg));
    background-color: $background;
    content: "";
    height: $size;
    left: $position;
    margin-left: -($size / 2);
    position: absolute;
    width: $size;
  }
}

//************************************************************************//
// Elements
//************************************************************************//

body, html {
  color: $base-color;
  font-family: $base-font-family;
  font-size: 14px;
  line-height: 20px;
}

h1,
h2,
h3,
h4 {
  margin: 0;

  span {
    font-weight: 200;
  }
}

a {
  @include hover-text-decoration;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.width-wrapper {
  @include outer-container;
  @include pad(0 default);
}

.right {
  float: right;
}

.left {
  float: left;
}

button,
.button {
  $button-height: 40px;
  background-color: blue;
  border-radius: 3px;
  border: 0;
  color: white;
  display: inline-block;
  font-weight: bold;
  height: $button-height;
  line-height: $button-height;
  margin: 0;
  min-width: $button-height;
  outline: none;
  padding: 0 10px;
  position: relative;
  text-align: center;

  &:hover {
    background-color: darken(blue, 5%);
  }

  &:active {
    background-color: darken(blue, 20%);
  }

  + button,
  + .button {
    margin-left: 3px;
  }
}

.tool {
  @extend .button;
  background-color: $base-mid;
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  margin-left: 3px;
  width: 40px;
}

.preview {
  @include position(absolute, 60px 0px 0px 0px);
  width: 100%;
  height: 100%;
  z-index: 2;
  border: 0;
}

//************************************************************************//
// Components
//************************************************************************//

.nav-item {
  display: inline-block;
  margin-right: $gutter;

  &.current {
    font-weight: bold;
  }
}

.block-arrow {
  $background-color: $base-dark;
  @include size(24px 26px);
  background-color: $background-color;
  border-radius: 3px 0 0 3px;
  display: inline-block;
  margin-right: 20px;
  position: relative;
  text-align: center;
  top: 6px;

  &::after {
    @include size(18px);
    @include transform(rotate(45deg));
    background-color: $background-color;
    border-radius: 0 3px 0 0;
    content: "";
    display: block;
    position: absolute;
    right: -10px;
    top: 4px;
  }
}

.avatar {
  @include size(40px);
  border: 1px solid $base-border-color;

  img {
    display: block;
  }
}

.fillometer {
  background-color: $base-liter;
  border-radius: 3px;
  border: 1px solid $base-border-color;
  height: 10px;
  overflow: hidden;
  position: relative;

  .fillometer-fill {
    @include position(relative, 0px 0 0px 0px);
    background-color: $base-mid;
    float: left;
    overflow: hidden;
    height: 100%;

    label {
      color: white;
      font-weight: bold;
    }
  }

  &.large {
    $height: 30px;
    height: $fillometer-large-height;

    label {
      @include vertical-center-text($fillometer-large-height);
      float: left;
      padding-left: 10px;
    }
  }

  &.status-positive .fillometer-fill {
    background-color: $status-positive;
  }

  &.status-negative .fillometer-fill {
    background-color: $status-negative;
  }
}

.thumbnail {
  height: golden-ratio(346px, -1); // we'll have to figure out how to do this for real
  overflow: hidden;

  img {
    display: block;
    height: auto;
    width: 100%;
  }
}

.slider {
  position: relative;

  .slider-handle {
    $size: 20px;
    @include carrot($base-border-color, $base-border-color, 10px);
    @include position(absolute, 50% 25% 0 0);
    @include size($size);
    background-color: $base-mid;
    border-radius: $size / 2;
    border: 3px solid $base-background-color;
    margin-top: -($size / 2);
    z-index: 1;

    &::before {
      top: 31px;
    }
  }

  .slider-track {
    $height: 4px;
    @include position(relative, 50% 0 0 0);
    background-color: $base-lite;
    height: $height;
    margin-top: -($height / 2);
  }
}

.toolbar {
  float: right;
  margin-top: 9px;
}

//************************************************************************//
// Modules
//************************************************************************//

.header {
  @include transition(all 1s);
  border-bottom: 1px solid $base-border-color;
  height: $header-height;
  position: relative;

  .logo {
    @include span-columns(2);
    @include vertical-center-text($header-height);
  }

  .nav {
    @include span-columns(8);

    a {
      @include vertical-center-text($header-height);
    }
  }

  .user.dropdown {
    float: right;
    margin-top: 8px;
  }
}

.test-header {
  @include pad(default);
  @include row();

  h2 {
    @include span-columns(2);
    line-height: $fillometer-large-height;
  }

  .button {
    background-color: $base-liter;
    color: $base-lite;
    margin-right: 10px;
  }

  .fillometer {
    @include span-columns(8);
  }

  .test-actions {
    @include span-columns(2);
    @include omega;
    line-height: $fillometer-large-height;

    button {
      float: right;
      margin-right: 10px;
    }
  }
}

.main {
  @include carrot($base-lite, white, 10px, 26%);
  border-top: 1px solid $base-lite;
}

.list {
  @include pad(default $gutter*4 20px);
  @include row();
  border-bottom: 1px solid $base-border-color;
}

.main-header {
  $height: 60px;
  @include row();
  @extend .width-wrapper;
  border-bottom: 1px solid $base-border-color;
  height: $height;
  line-height: $height;
  position: relative;
  z-index: 1;
}

.row {
  @include span-columns(3);
  display: block;

  &:hover {
    box-shadow: 0 1px 8px rgba(black, 0.1);

    .thumbnail::after {
      $height: 30px;
      @include position(absolute, 50% 40px 0 40px);
      background-color: rgba(blue, 0.8);
      border-radius: $height / 2;
      color: white;
      content: "view";
      display: block;
      height: $height;
      line-height: $height;
      margin-top: -($height / 2);
      text-align: center;
      text-transform: uppercase;
      font-weight: bold;
    }
  }

  .thumbnail {
    position: relative;
  }
}

a.row {
  color: $base-color;
}

.scenario-meta {
  @include fill-parent;
  @include display-box;
  @include box-align(start);
  @include box-orient(horizontal);
  @include box-pack(start);
  background-color: lighten($base-liter, 3%);
  border-top: 1px solid $base-lite;

  li {
    @include box-flex(1);
    border-right: 1px solid $base-lite;
    padding: 5px 0;
    text-align: center;

    &:last-child {
      border-right: 0;
    }
  }
}

.file-status {
  $size: 12px;
  background-color: $base-lite;
  border-radius: 2px;
  display: inline-block;
  height: $size;
  margin-right: 5px;
  position: relative;
  top: 2px;
  width: $size;
}

.stepper {
  float: left;
}

.view-slider {
  @include span-columns(6);
  height: $tools-height;
}

//************************************************************************//
// Templates
//************************************************************************//

.scenario-row {
  border: 1px solid $base-border-color;
  border-radius: 3px;
  margin-bottom: $gutter;

  &:nth-child(4) {
    @include omega;
  }

  .fillometer {
    border-radius: 0;
    border-left: 0;
    border-right: 0;
  }
}

.scenario-details {
  padding: 10px;
}

.scenario-title {
  font-family: $monospace;
  text-align: center;
}

.previewer {
  @include transition(all, 1s);
  @include position(absolute, 180px 0px 0px 0px);
}

.previewer-header {
  .stepper {
    margin-right: $gutter;
  }

  .scenario-title {
    @include span-columns(6);
    text-align: left;

    h3 {
      display: inline-block;
    }
  }
}

.previewer-controls {
  @include span-columns(6);
  @include omega;
}

//************************************************************************//
// Pages
//************************************************************************//

.page-home {

}

.page-test {
  .header-toggle {
    @include position(absolute, 0px 0px 0 0px);
    height: 10px;
    z-index: 999;
  }
}

//************************************************************************//
// States
//************************************************************************//

.is-hidden {
  display: none;
}

.is-invisible {
  opacity: 0;
}

.header-retracted {
  .header {
    margin-top: -($header-height);
  }

  .previewer {
    top: 120px;
  }
}
