article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  background: white;
  color: black;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

body {
  margin: 0; }

a:focus {
  outline: thin dotted; }
a:hover, a:active {
  outline: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

h6 {
  font-size: 0.75em;
  margin: 2.33em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

q:before,
q:after {
  content: '';
  content: none; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

button,
input {
  line-height: normal; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
input[disabled] {
  cursor: default; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

@font-face {
  font-family: batch-icons;
  font-weight: normal;
  font-style: normal;
  src: url("../../fonts/batch/batch-icons-webfont.eot");
  src: url("../../fonts/batch/batch-icons-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/batch/batch-icons-webfont.woff") format("woff"), url("../../fonts/batch/batch-icons-webfont.ttf") format("truetype"), url("../../fonts/batch/batch-icons-webfont.svg#batch-icons") format("svg"); }

@font-face {
  font-family: source-code;
  font-weight: normal;
  font-style: normal;
  src: url("../../fonts/source-code/SourceCodePro-Regular-webfont.eot");
  src: url("../../fonts/source-code/SourceCodePro-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/source-code/SourceCodePro-Regular-webfont.woff") format("woff"), url("../../fonts/source-code/SourceCodePro-Regular-webfont.ttf") format("truetype"), url("../../fonts/source-code/SourceCodePro-Regular-webfont.svg#source-code") format("svg"); }

@font-face {
  font-family: source-code;
  font-weight: bold;
  font-style: normal;
  src: url("../../fonts/source-code/SourceCodePro-Bold-webfont.eot");
  src: url("../../fonts/source-code/SourceCodePro-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/source-code/SourceCodePro-Bold-webfont.woff") format("woff"), url("../../fonts/source-code/SourceCodePro-Bold-webfont.ttf") format("truetype"), url("../../fonts/source-code/SourceCodePro-Bold-webfont.svg#source-code") format("svg"); }

html,
body {
  background-color: #333333;
  color: #f0f0f0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.25em;
  height: 100%; }

h1,
h2,
h3,
h4 {
  padding: 0;
  margin: 0; }

h1 {
  font-size: 2.25em; }

p {
  margin: 0 0 1em;
  padding: 0; }

a {
  text-decoration: none; }

ol,
ul {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

.left {
  float: left !important; }

.right {
  float: right !important; }

.button {
  background-color: #555555;
  border-radius: 5px;
  color: #f0f0f0;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  height: 2.5em;
  line-height: 2.5em;
  min-width: 2.5em;
  padding: 0 0.625em;
  text-align: center; }
  .button.active {
    background-color: #f0f0f0;
    color: #555555; }
  .button.icon {
    padding: 0; }

.button-group .button {
  border-radius: 0;
  float: left;
  margin-right: 3px; }
  .button-group .button:first-child {
    border-radius: 5px 0 0 5px; }
  .button-group .button:last-child {
    border-radius: 0 5px 5px 0;
    margin-right: 0; }
  .button-group .button:only-child {
    border-radius: 5px; }

.icon {
  font-family: batch-icons;
  font-weight: normal;
  padding-right: 5px; }

[data-fillometer] {
  background-color: #404040; }
  [data-fillometer]:hover {
    background-color: #fb6f6f !important; }

.scroll-container {
  overflow: scroll; }

.failometer {
  background-color: white;
  height: 3.75em; }
  .failometer a {
    border-left: 5px solid #3b3b3b;
    float: left;
    height: inherit;
    position: relative;
    cursor: pointer; }
    .failometer a:first-child {
      border: 0; }
    .failometer a:hover {
      box-shadow: inset 0 0 0 3px white; }
  .failometer [data-fail-intensity="0"] {
    background-color: #555555; }

.block, .view-controls {
  width: 3.75em;
  height: 3.75em;
  border-color: #555555;
  border-right: 1px solid #555555;
  color: #f0f0f0;
  cursor: pointer;
  display: block;
  float: left;
  line-height: 2.5em;
  padding: 0.625em;
  position: relative; }
  .block .icon, .view-controls .icon {
    color: inherit;
    display: block;
    font-size: 1.25em;
    padding: 0;
    text-align: center; }
  .block:hover, .view-controls:hover {
    background-color: black; }
  .block.is-selected, .is-selected.view-controls {
    background-color: #555555;
    border-color: #333333;
    color: #f0f0f0; }
    .block.is-selected:hover, .is-selected.view-controls:hover {
      background-color: #626262; }
  .block[data-toggle-pane].is-selected::before, [data-toggle-pane].is-selected.view-controls::before {
    position: absolute;
    bottom: 0px;
    left: 50%;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: #333333;
    border-bottom: 0;
    border-right: 0;
    content: "";
    height: 10px;
    margin-left: -6px;
    margin-bottom: -5px;
    width: 10px; }

.avatar {
  overflow: hidden;
  position: relative; }
  .avatar.medium {
    width: 2.5em;
    height: 2.5em;
    border-radius: 2px; }
  .avatar.small {
    width: 1.25em;
    height: 1.25em;
    border-radius: 1px; }
  .avatar img {
    display: block;
    height: auto;
    width: 100%; }

.thumbnail {
  overflow: hidden; }
  .thumbnail img {
    width: 100%;
    height: auto;
    display: block; }

.dropdown-toggle {
  border-radius: 5px;
  border: 1px solid #555555;
  color: #bdbdbd;
  cursor: pointer;
  display: inline-block;
  padding: 0 10px; }
  .dropdown-toggle b {
    color: #f0f0f0; }
  .dropdown-toggle .icon {
    width: 1.875em;
    height: 1.875em;
    border-left: 2px solid #555555;
    color: inherit;
    margin-left: 10px;
    padding-left: 10px; }
  .dropdown-toggle:hover {
    background-color: #555555; }
    .dropdown-toggle:hover .icon {
      border-color: #333333; }

.chooser {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  margin-right: 0;
  border-bottom: 1px solid #555555;
  border-right: 1px solid #555555;
  color: #f0f0f0;
  line-height: 1.25em;
  padding: 0; }
  .chooser.is-selected .chooser-menu {
    display: block;
    color: inherit; }

.chooser-toggle {
  cursor: pointer;
  height: 3.6875em;
  padding: 0.625em 0.625em 0.625em 3.75em; }
  .chooser-toggle .icon {
    position: absolute;
    top: 50%;
    bottom: 0px;
    left: 0.625em;
    width: 20px;
    height: 20px;
    font-size: 1.5em;
    margin-top: -10px;
    padding-top: 2px; }

.chooser-menu {
  position: absolute;
  top: 3.75em;
  right: 0px;
  left: -1px;
  margin-top: 0.625em;
  display: none; }
  .chooser-menu li {
    background-color: #404040;
    border: 0;
    color: inherit;
    cursor: pointer;
    height: 3.75em;
    padding: 0.625em 3.125em 0.625em 1.25em;
    position: relative;
    z-index: 1; }
    .chooser-menu li:last-child {
      border-radius: 0 0 5px 5px; }

.view-controls {
  position: absolute;
  top: 3.75em;
  bottom: 0px;
  left: 0px;
  height: auto;
  z-index: 10;
  overflow: hidden; }
  .view-controls:hover {
    background-color: transparent; }
  .view-controls .slider-end {
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    line-height: 3.75em;
    text-align: center;
    opacity: 0.5; }
    .view-controls .slider-end.branch {
      top: auto;
      bottom: 0; }

.slider {
  position: absolute;
  top: 3.75em;
  right: 0px;
  bottom: 3.75em;
  left: 0px; }
  .slider .ui-slider-handle {
    position: absolute;
    left: 50%;
    width: 24px;
    height: 24px;
    background-color: #555555;
    border-radius: 12px;
    border: 5px solid #333333;
    cursor: pointer;
    margin-left: -12px;
    outline: none;
    z-index: 1; }
    .slider .ui-slider-handle::before {
      position: absolute;
      top: 50%;
      left: 28px;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
      background-color: #f0f0f0;
      border-bottom: 0;
      border-right: 0;
      border: 1px solid #f0f0f0;
      content: "";
      height: 10px;
      margin-top: -6px;
      width: 10px; }
    .slider .ui-slider-handle:hover, .slider .ui-slider-handle:active {
      background-color: #f0f0f0; }
  .slider .ui-slider-track {
    position: relative;
    left: 50%;
    background-color: #555555;
    width: 4px;
    margin-left: -2px;
    height: 100%; }

.preview {
  -webkit-transition: all 0.15s ease-out 0;
  -moz-transition: all 0.15s ease-out 0;
  transition: all 0.15s ease-out 0;
  position: relative;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: hidden; }
  .preview iframe {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border: 0;
    padding-left: 3.75em; }

header {
  border-bottom: 1px solid #555555;
  color: #555555;
  height: 3.75em;
  line-height: 2.5em; }
  header p {
    margin-bottom: 0; }

.toggle-switch {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  *zoom: 1;
  width: 3.75em;
  height: 1.25em;
  -webkit-transition: all 0.15s ease-out 0;
  -moz-transition: all 0.15s ease-out 0;
  transition: all 0.15s ease-out 0;
  border-radius: 5px;
  border: 1px solid #f0f0f0;
  cursor: pointer;
  padding: 3px; }
  .toggle-switch:before, .toggle-switch:after {
    content: " ";
    display: table; }
  .toggle-switch:after {
    clear: both; }
  .toggle-switch .switch {
    width: 1.25em;
    height: 1.25em;
    background-color: #f0f0f0;
    border-radius: 2px;
    display: block;
    position: relative; }
    .toggle-switch .switch::before {
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      font-family: batch-icons;
      font-size: 12px;
      line-height: 1.25em;
      text-align: center; }
  .toggle-switch.toggle-off {
    background-color: #333333; }
    .toggle-switch.toggle-off .switch {
      float: left; }
  .toggle-switch.toggle-on {
    background-color: #555555; }
    .toggle-switch.toggle-on .switch {
      float: right; }

.application-header {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  background-color: black;
  height: 2.5em;
  line-height: 2.5em; }
  .application-header a {
    display: block;
    float: left;
    padding: 0 2.35765%;
    border-left: 1px solid #333333;
    color: #555555; }
    .application-header a:hover {
      background-color: #1a1a1a;
      color: #f0f0f0; }
  .application-header a.logo {
    border-left: 0;
    border-right: 1px solid #333333;
    font-weight: bold; }

.page-header {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  -webkit-box-align: start;
  -moz-box-align: start;
  box-align: start;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  box-pack: start;
  position: relative;
  border-bottom-width: 3px; }
  .page-header .search-container {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    height: 3.75em;
    line-height: 3.75em;
    position: relative; }
    .page-header .search-container .icon {
      position: absolute;
      top: 0px;
      left: 1.25em;
      color: #555555; }
    .page-header .search-container input[type="search"] {
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      background-color: #333333;
      border: 0;
      border-bottom: 3px solid #555555;
      color: #f0f0f0;
      line-height: 3.75em;
      outline: none;
      padding: 0 1.25em 0 3.125em; }
      .page-header .search-container input[type="search"]::-webkit-input-placeholder {
        color: #555555; }
      .page-header .search-container input[type="search"]:-moz-placeholder {
        color: #555555; }
      .page-header .search-container input[type="search"]::-moz-placeholder {
        color: #555555; }
      .page-header .search-container input[type="search"]:-ms-input-placeholder {
        color: #555555; }
      .page-header .search-container input[type="search"]:focus {
        background-color: #555555;
        color: #f0f0f0; }
        .page-header .search-container input[type="search"]:focus::-webkit-input-placeholder {
          color: #333333; }
        .page-header .search-container input[type="search"]:focus:-moz-placeholder {
          color: #333333; }
        .page-header .search-container input[type="search"]:focus::-moz-placeholder {
          color: #333333; }
        .page-header .search-container input[type="search"]:focus:-ms-input-placeholder {
          color: #333333; }
      .page-header .search-container input[type="search"]:focus + .icon {
        color: #333333; }
  .page-header .block:last-of-type, .page-header .view-controls:last-of-type {
    border-left: 1px solid #555555;
    border-right: 0; }

.tests-list {
  *zoom: 1;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 2.35765%; }
  .tests-list:before, .tests-list:after {
    content: " ";
    display: table; }
  .tests-list:after {
    clear: both; }

.test {
  border: 3px solid #555555;
  border-radius: 5px;
  margin-bottom: 1.618em; }
  .test .failometer {
    height: 5em; }

.test-header {
  *zoom: 1;
  display: block;
  border: 0;
  color: white;
  height: 3.75em;
  line-height: 3.75em;
  padding: 0 0 0 1.25em;
  background-color: #3b3b3b; }
  .test-header:before, .test-header:after {
    content: " ";
    display: table; }
  .test-header:after {
    clear: both; }
  .test-header .test-title {
    border-right: 1px solid #555555;
    margin-right: 1.25em;
    padding-right: 1.25em;
    float: left; }
  .test-header .test-time,
  .test-header .test-user {
    color: #888888; }
  .test-header .test-time {
    float: left; }
  .test-header .test-user {
    *zoom: 1;
    float: right;
    text-align: right;
    margin-right: 0.625em; }
    .test-header .test-user:before, .test-header .test-user:after {
      content: " ";
      display: table; }
    .test-header .test-user:after {
      clear: both; }
    .test-header .test-user strong {
      float: left; }
  .test-header .avatar.medium {
    float: right;
    margin: 0.625em 0 0 0.625em; }

.feature-details {
  width: 100%;
  *zoom: 1;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  .feature-details:before, .feature-details:after {
    content: " ";
    display: table; }
  .feature-details:after {
    clear: both; }
  .feature-details .feature-header {
    background-color: #3b3b3b;
    color: #f0f0f0;
    font-family: source-code, "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
    height: 2.5em;
    line-height: 2.5em;
    padding: 0 0 0 1.25em; }
    .feature-details .feature-header h4 {
      float: left; }
  .feature-details .feature-actions {
    float: right; }
    .feature-details .feature-actions .block, .feature-details .feature-actions .view-controls {
      width: 2.5em;
      height: 2.5em;
      line-height: 1.25em;
      border: 0;
      border-left: 1px solid #555555;
      text-align: center; }
  .feature-details .all-steps {
    *zoom: 1;
    display: block;
    background-color: #3b3b3b;
    border-radius: 0 0 4px 4px;
    border-top: 1px solid #555555;
    color: #555555;
    font-weight: bold;
    height: 2.5em;
    line-height: 2.5em;
    text-align: center; }
    .feature-details .all-steps:before, .feature-details .all-steps:after {
      content: " ";
      display: table; }
    .feature-details .all-steps:after {
      clear: both; }
    .feature-details .all-steps:hover {
      background-color: #555555;
      color: #f0f0f0; }

.step {
  *zoom: 1;
  display: block;
  -webkit-transition: all 0.05s;
  -moz-transition: all 0.05s;
  transition: all 0.05s;
  border-top: 3px solid #555555; }
  .step:before, .step:after {
    content: " ";
    display: table; }
  .step:after {
    clear: both; }
  .step:first-of-type {
    border: 0; }
  .step:hover {
    background-color: #1a1a1a; }
  .step .thumbnail {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 14.70196%;
    border-radius: 3px;
    border: 1px solid #555555;
    margin: 0.625em 1.618em 0.625em 0.625em;
    min-height: 100px;
    overflow: hidden;
    padding: 0.3125em; }
    .step .thumbnail:last-child {
      margin-right: 0; }
  .step .step-console {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 82.94039%;
    padding-right: 1.618em; }
    .step .step-console:last-child {
      margin-right: 0; }
  .step .step-header {
    height: 3.75em;
    line-height: 3.75em;
    position: relative; }
    .step .step-header strong {
      color: #f0f0f0; }
  .step .toggle-switch {
    margin-top: 0.9375em; }
  .step .toggle-off {
    background-color: #fb6f6f; }
  .step pre {
    font-family: source-code, "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
    line-height: 1.875em;
    margin: 1.618em 1.618em 1.618em 0; }

.pane-container {
  -webkit-transition: all 0.15s ease-out 0;
  -moz-transition: all 0.15s ease-out 0;
  transition: all 0.15s ease-out 0;
  position: absolute;
  top: 3.75em;
  right: 0px;
  bottom: 0px;
  background-color: #333333;
  right: -25%;
  width: 25%; }
  .pane-container .pane {
    display: none;
    position: relative; }
    .pane-container .pane.is-active {
      display: block; }
  .pane-container .ui-resizable-handle {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    width: 10px;
    cursor: col-resize; }

.conversations-pane {
  height: 100%; }
  .conversations-pane .scroll-container {
    position: absolute;
    top: 0px;
    bottom: 0px; }

.comment {
  padding: 2.35765%;
  border-top: 1px solid #555555; }
  .comment:first-child {
    border: 0; }
  .comment p {
    padding: 0 2.35765%; }

.comment-header {
  padding: 0 0 2.35765%;
  color: #8a8a8a;
  font-weight: bold;
  font-size: 1.125em; }

.comment-footer {
  padding: 2.35765% 0 0;
  color: #555555;
  text-align: right; }

.comment-form {
  position: absolute;
  bottom: 0px;
  padding: 2.35765%;
  width: 100%;
  background-color: #333333; }
  .comment-form textarea {
    border-radius: 5px 5px 0 0;
    min-height: 5em;
    width: 100%; }
  .comment-form .button {
    border-radius: 0 0 5px 5px;
    width: 100%; }

.code-header {
  padding: 0.625em 2.35765%;
  color: #f0f0f0;
  text-align: center; }

.code-container {
  *zoom: 1;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid #555555; }
  .code-container:before, .code-container:after {
    content: " ";
    display: table; }
  .code-container:after {
    clear: both; }

.line {
  *zoom: 1; }
  .line:before, .line:after {
    content: " ";
    display: table; }
  .line:after {
    clear: both; }
  .line:hover {
    background-color: #262626; }

.line-number,
.line-code {
  float: left;
  font-family: source-code, "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
  height: 2.5em;
  line-height: 2.5em;
  padding: 0 0.625em; }

.line-number {
  border-right: 1px solid #555555;
  text-align: right;
  width: 15%; }

.line-code {
  margin: 0;
  text-align: left;
  width: 85%; }
  .line-code i {
    border-bottom: 1px solid #f0f0f0;
    cursor: pointer;
    font-style: normal;
    font-weight: bold; }

.code-ref {
  background-color: black;
  border-top: 1px solid #f0f0f0;
  display: none; }
  .code-ref .ref-header {
    padding: 2.35765%; }
    .code-ref .ref-header .icon {
      float: right; }
  .code-ref .code-container {
    border-color: #f0f0f0; }
    .code-ref .code-container .line:hover {
      background-color: #262626; }

.ruler {
  -webkit-transition: all 0.15s ease-out 0;
  -moz-transition: all 0.15s ease-out 0;
  transition: all 0.15s ease-out 0;
  background-color: rgba(0, 0, 0, 0.2);
  background-position: 0 0;
  position: absolute;
  z-index: 8; }

.ruler-top {
  width: 100%;
  height: 1.875em;
  background-image: url("../../images/ruler-horizontal.svg");
  background-position-x: 5.625em;
  background-repeat: repeat-x;
  top: -1.875em;
  left: 3.75em; }

.ruler-left {
  width: 1.875em;
  height: 100%;
  background-image: url("../../images/ruler-vertical.svg");
  background-repeat: repeat-y;
  left: -1.875em;
  top: 0; }

.ruler-dimensions {
  position: absolute;
  top: 2.875em;
  right: 1em;
  left: auto;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 3px;
  color: #f0f0f0;
  display: inline-block;
  font-weight: bold;
  padding: 5px 10px;
  display: none; }

.page-test {
  overflow: hidden; }

.failometer .is-selected {
  position: relative; }
  .failometer .is-selected::before {
    position: absolute;
    top: 0px;
    left: 50%;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: #3b3b3b;
    border: 1px solid;
    border-bottom: 0;
    border-right: 0;
    content: "";
    height: 10px;
    margin-left: -6px;
    margin-top: -6px;
    width: 10px; }
  .failometer .is-selected::before {
    top: auto;
    bottom: -6px; }

body.pane-open .preview {
  width: 75%; }
body.pane-open .pane-container {
  right: 0; }

body.rulers-open .ruler-top {
  top: 0; }
body.rulers-open .ruler-left {
  left: 3.75em; }
body.rulers-open .ruler-dimensions {
  display: block; }

[data-fillometer="1"] {
  background-image: -webkit-linear-gradient(right, #333333 99%, transparent 99%);
  background-image: linear-gradient(to left, #333333 99%, transparent 99%); }

[data-fillometer="2"] {
  background-image: -webkit-linear-gradient(right, #333333 98%, transparent 98%);
  background-image: linear-gradient(to left, #333333 98%, transparent 98%); }

[data-fillometer="3"] {
  background-image: -webkit-linear-gradient(right, #333333 97%, transparent 97%);
  background-image: linear-gradient(to left, #333333 97%, transparent 97%); }

[data-fillometer="4"] {
  background-image: -webkit-linear-gradient(right, #333333 96%, transparent 96%);
  background-image: linear-gradient(to left, #333333 96%, transparent 96%); }

[data-fillometer="5"] {
  background-image: -webkit-linear-gradient(right, #333333 95%, transparent 95%);
  background-image: linear-gradient(to left, #333333 95%, transparent 95%); }

[data-fillometer="6"] {
  background-image: -webkit-linear-gradient(right, #333333 94%, transparent 94%);
  background-image: linear-gradient(to left, #333333 94%, transparent 94%); }

[data-fillometer="7"] {
  background-image: -webkit-linear-gradient(right, #333333 93%, transparent 93%);
  background-image: linear-gradient(to left, #333333 93%, transparent 93%); }

[data-fillometer="8"] {
  background-image: -webkit-linear-gradient(right, #333333 92%, transparent 92%);
  background-image: linear-gradient(to left, #333333 92%, transparent 92%); }

[data-fillometer="9"] {
  background-image: -webkit-linear-gradient(right, #333333 91%, transparent 91%);
  background-image: linear-gradient(to left, #333333 91%, transparent 91%); }

[data-fillometer="10"] {
  background-image: -webkit-linear-gradient(right, #333333 90%, transparent 90%);
  background-image: linear-gradient(to left, #333333 90%, transparent 90%); }

[data-fillometer="11"] {
  background-image: -webkit-linear-gradient(right, #333333 89%, transparent 89%);
  background-image: linear-gradient(to left, #333333 89%, transparent 89%); }

[data-fillometer="12"] {
  background-image: -webkit-linear-gradient(right, #333333 88%, transparent 88%);
  background-image: linear-gradient(to left, #333333 88%, transparent 88%); }

[data-fillometer="13"] {
  background-image: -webkit-linear-gradient(right, #333333 87%, transparent 87%);
  background-image: linear-gradient(to left, #333333 87%, transparent 87%); }

[data-fillometer="14"] {
  background-image: -webkit-linear-gradient(right, #333333 86%, transparent 86%);
  background-image: linear-gradient(to left, #333333 86%, transparent 86%); }

[data-fillometer="15"] {
  background-image: -webkit-linear-gradient(right, #333333 85%, transparent 85%);
  background-image: linear-gradient(to left, #333333 85%, transparent 85%); }

[data-fillometer="16"] {
  background-image: -webkit-linear-gradient(right, #333333 84%, transparent 84%);
  background-image: linear-gradient(to left, #333333 84%, transparent 84%); }

[data-fillometer="17"] {
  background-image: -webkit-linear-gradient(right, #333333 83%, transparent 83%);
  background-image: linear-gradient(to left, #333333 83%, transparent 83%); }

[data-fillometer="18"] {
  background-image: -webkit-linear-gradient(right, #333333 82%, transparent 82%);
  background-image: linear-gradient(to left, #333333 82%, transparent 82%); }

[data-fillometer="19"] {
  background-image: -webkit-linear-gradient(right, #333333 81%, transparent 81%);
  background-image: linear-gradient(to left, #333333 81%, transparent 81%); }

[data-fillometer="20"] {
  background-image: -webkit-linear-gradient(right, #333333 80%, transparent 80%);
  background-image: linear-gradient(to left, #333333 80%, transparent 80%); }

[data-fillometer="21"] {
  background-image: -webkit-linear-gradient(right, #333333 79%, transparent 79%);
  background-image: linear-gradient(to left, #333333 79%, transparent 79%); }

[data-fillometer="22"] {
  background-image: -webkit-linear-gradient(right, #333333 78%, transparent 78%);
  background-image: linear-gradient(to left, #333333 78%, transparent 78%); }

[data-fillometer="23"] {
  background-image: -webkit-linear-gradient(right, #333333 77%, transparent 77%);
  background-image: linear-gradient(to left, #333333 77%, transparent 77%); }

[data-fillometer="24"] {
  background-image: -webkit-linear-gradient(right, #333333 76%, transparent 76%);
  background-image: linear-gradient(to left, #333333 76%, transparent 76%); }

[data-fillometer="25"] {
  background-image: -webkit-linear-gradient(right, #333333 75%, transparent 75%);
  background-image: linear-gradient(to left, #333333 75%, transparent 75%); }

[data-fillometer="26"] {
  background-image: -webkit-linear-gradient(right, #333333 74%, transparent 74%);
  background-image: linear-gradient(to left, #333333 74%, transparent 74%); }

[data-fillometer="27"] {
  background-image: -webkit-linear-gradient(right, #333333 73%, transparent 73%);
  background-image: linear-gradient(to left, #333333 73%, transparent 73%); }

[data-fillometer="28"] {
  background-image: -webkit-linear-gradient(right, #333333 72%, transparent 72%);
  background-image: linear-gradient(to left, #333333 72%, transparent 72%); }

[data-fillometer="29"] {
  background-image: -webkit-linear-gradient(right, #333333 71%, transparent 71%);
  background-image: linear-gradient(to left, #333333 71%, transparent 71%); }

[data-fillometer="30"] {
  background-image: -webkit-linear-gradient(right, #333333 70%, transparent 70%);
  background-image: linear-gradient(to left, #333333 70%, transparent 70%); }

[data-fillometer="31"] {
  background-image: -webkit-linear-gradient(right, #333333 69%, transparent 69%);
  background-image: linear-gradient(to left, #333333 69%, transparent 69%); }

[data-fillometer="32"] {
  background-image: -webkit-linear-gradient(right, #333333 68%, transparent 68%);
  background-image: linear-gradient(to left, #333333 68%, transparent 68%); }

[data-fillometer="33"] {
  background-image: -webkit-linear-gradient(right, #333333 67%, transparent 67%);
  background-image: linear-gradient(to left, #333333 67%, transparent 67%); }

[data-fillometer="34"] {
  background-image: -webkit-linear-gradient(right, #333333 66%, transparent 66%);
  background-image: linear-gradient(to left, #333333 66%, transparent 66%); }

[data-fillometer="35"] {
  background-image: -webkit-linear-gradient(right, #333333 65%, transparent 65%);
  background-image: linear-gradient(to left, #333333 65%, transparent 65%); }

[data-fillometer="36"] {
  background-image: -webkit-linear-gradient(right, #333333 64%, transparent 64%);
  background-image: linear-gradient(to left, #333333 64%, transparent 64%); }

[data-fillometer="37"] {
  background-image: -webkit-linear-gradient(right, #333333 63%, transparent 63%);
  background-image: linear-gradient(to left, #333333 63%, transparent 63%); }

[data-fillometer="38"] {
  background-image: -webkit-linear-gradient(right, #333333 62%, transparent 62%);
  background-image: linear-gradient(to left, #333333 62%, transparent 62%); }

[data-fillometer="39"] {
  background-image: -webkit-linear-gradient(right, #333333 61%, transparent 61%);
  background-image: linear-gradient(to left, #333333 61%, transparent 61%); }

[data-fillometer="40"] {
  background-image: -webkit-linear-gradient(right, #333333 60%, transparent 60%);
  background-image: linear-gradient(to left, #333333 60%, transparent 60%); }

[data-fillometer="41"] {
  background-image: -webkit-linear-gradient(right, #333333 59%, transparent 59%);
  background-image: linear-gradient(to left, #333333 59%, transparent 59%); }

[data-fillometer="42"] {
  background-image: -webkit-linear-gradient(right, #333333 58.0%, transparent 58.0%);
  background-image: linear-gradient(to left, #333333 58.0%, transparent 58.0%); }

[data-fillometer="43"] {
  background-image: -webkit-linear-gradient(right, #333333 57.0%, transparent 57.0%);
  background-image: linear-gradient(to left, #333333 57.0%, transparent 57.0%); }

[data-fillometer="44"] {
  background-image: -webkit-linear-gradient(right, #333333 56.0%, transparent 56.0%);
  background-image: linear-gradient(to left, #333333 56.0%, transparent 56.0%); }

[data-fillometer="45"] {
  background-image: -webkit-linear-gradient(right, #333333 55.0%, transparent 55.0%);
  background-image: linear-gradient(to left, #333333 55.0%, transparent 55.0%); }

[data-fillometer="46"] {
  background-image: -webkit-linear-gradient(right, #333333 54%, transparent 54%);
  background-image: linear-gradient(to left, #333333 54%, transparent 54%); }

[data-fillometer="47"] {
  background-image: -webkit-linear-gradient(right, #333333 53%, transparent 53%);
  background-image: linear-gradient(to left, #333333 53%, transparent 53%); }

[data-fillometer="48"] {
  background-image: -webkit-linear-gradient(right, #333333 52%, transparent 52%);
  background-image: linear-gradient(to left, #333333 52%, transparent 52%); }

[data-fillometer="49"] {
  background-image: -webkit-linear-gradient(right, #333333 51%, transparent 51%);
  background-image: linear-gradient(to left, #333333 51%, transparent 51%); }

[data-fillometer="50"] {
  background-image: -webkit-linear-gradient(right, #333333 50%, transparent 50%);
  background-image: linear-gradient(to left, #333333 50%, transparent 50%); }

[data-fillometer="51"] {
  background-image: -webkit-linear-gradient(right, #333333 49%, transparent 49%);
  background-image: linear-gradient(to left, #333333 49%, transparent 49%); }

[data-fillometer="52"] {
  background-image: -webkit-linear-gradient(right, #333333 48%, transparent 48%);
  background-image: linear-gradient(to left, #333333 48%, transparent 48%); }

[data-fillometer="53"] {
  background-image: -webkit-linear-gradient(right, #333333 47%, transparent 47%);
  background-image: linear-gradient(to left, #333333 47%, transparent 47%); }

[data-fillometer="54"] {
  background-image: -webkit-linear-gradient(right, #333333 46%, transparent 46%);
  background-image: linear-gradient(to left, #333333 46%, transparent 46%); }

[data-fillometer="55"] {
  background-image: -webkit-linear-gradient(right, #333333 45%, transparent 45%);
  background-image: linear-gradient(to left, #333333 45%, transparent 45%); }

[data-fillometer="56"] {
  background-image: -webkit-linear-gradient(right, #333333 44%, transparent 44%);
  background-image: linear-gradient(to left, #333333 44%, transparent 44%); }

[data-fillometer="57"] {
  background-image: -webkit-linear-gradient(right, #333333 43%, transparent 43%);
  background-image: linear-gradient(to left, #333333 43%, transparent 43%); }

[data-fillometer="58"] {
  background-image: -webkit-linear-gradient(right, #333333 42%, transparent 42%);
  background-image: linear-gradient(to left, #333333 42%, transparent 42%); }

[data-fillometer="59"] {
  background-image: -webkit-linear-gradient(right, #333333 41%, transparent 41%);
  background-image: linear-gradient(to left, #333333 41%, transparent 41%); }

[data-fillometer="60"] {
  background-image: -webkit-linear-gradient(right, #333333 40%, transparent 40%);
  background-image: linear-gradient(to left, #333333 40%, transparent 40%); }

[data-fillometer="61"] {
  background-image: -webkit-linear-gradient(right, #333333 39%, transparent 39%);
  background-image: linear-gradient(to left, #333333 39%, transparent 39%); }

[data-fillometer="62"] {
  background-image: -webkit-linear-gradient(right, #333333 38%, transparent 38%);
  background-image: linear-gradient(to left, #333333 38%, transparent 38%); }

[data-fillometer="63"] {
  background-image: -webkit-linear-gradient(right, #333333 37%, transparent 37%);
  background-image: linear-gradient(to left, #333333 37%, transparent 37%); }

[data-fillometer="64"] {
  background-image: -webkit-linear-gradient(right, #333333 36%, transparent 36%);
  background-image: linear-gradient(to left, #333333 36%, transparent 36%); }

[data-fillometer="65"] {
  background-image: -webkit-linear-gradient(right, #333333 35%, transparent 35%);
  background-image: linear-gradient(to left, #333333 35%, transparent 35%); }

[data-fillometer="66"] {
  background-image: -webkit-linear-gradient(right, #333333 34%, transparent 34%);
  background-image: linear-gradient(to left, #333333 34%, transparent 34%); }

[data-fillometer="67"] {
  background-image: -webkit-linear-gradient(right, #333333 33%, transparent 33%);
  background-image: linear-gradient(to left, #333333 33%, transparent 33%); }

[data-fillometer="68"] {
  background-image: -webkit-linear-gradient(right, #333333 32%, transparent 32%);
  background-image: linear-gradient(to left, #333333 32%, transparent 32%); }

[data-fillometer="69"] {
  background-image: -webkit-linear-gradient(right, #333333 31%, transparent 31%);
  background-image: linear-gradient(to left, #333333 31%, transparent 31%); }

[data-fillometer="70"] {
  background-image: -webkit-linear-gradient(right, #333333 30%, transparent 30%);
  background-image: linear-gradient(to left, #333333 30%, transparent 30%); }

[data-fillometer="71"] {
  background-image: -webkit-linear-gradient(right, #333333 29.0%, transparent 29.0%);
  background-image: linear-gradient(to left, #333333 29.0%, transparent 29.0%); }

[data-fillometer="72"] {
  background-image: -webkit-linear-gradient(right, #333333 28.0%, transparent 28.0%);
  background-image: linear-gradient(to left, #333333 28.0%, transparent 28.0%); }

[data-fillometer="73"] {
  background-image: -webkit-linear-gradient(right, #333333 27%, transparent 27%);
  background-image: linear-gradient(to left, #333333 27%, transparent 27%); }

[data-fillometer="74"] {
  background-image: -webkit-linear-gradient(right, #333333 26%, transparent 26%);
  background-image: linear-gradient(to left, #333333 26%, transparent 26%); }

[data-fillometer="75"] {
  background-image: -webkit-linear-gradient(right, #333333 25%, transparent 25%);
  background-image: linear-gradient(to left, #333333 25%, transparent 25%); }

[data-fillometer="76"] {
  background-image: -webkit-linear-gradient(right, #333333 24%, transparent 24%);
  background-image: linear-gradient(to left, #333333 24%, transparent 24%); }

[data-fillometer="77"] {
  background-image: -webkit-linear-gradient(right, #333333 23%, transparent 23%);
  background-image: linear-gradient(to left, #333333 23%, transparent 23%); }

[data-fillometer="78"] {
  background-image: -webkit-linear-gradient(right, #333333 22%, transparent 22%);
  background-image: linear-gradient(to left, #333333 22%, transparent 22%); }

[data-fillometer="79"] {
  background-image: -webkit-linear-gradient(right, #333333 21%, transparent 21%);
  background-image: linear-gradient(to left, #333333 21%, transparent 21%); }

[data-fillometer="80"] {
  background-image: -webkit-linear-gradient(right, #333333 20%, transparent 20%);
  background-image: linear-gradient(to left, #333333 20%, transparent 20%); }

[data-fillometer="81"] {
  background-image: -webkit-linear-gradient(right, #333333 19%, transparent 19%);
  background-image: linear-gradient(to left, #333333 19%, transparent 19%); }

[data-fillometer="82"] {
  background-image: -webkit-linear-gradient(right, #333333 18%, transparent 18%);
  background-image: linear-gradient(to left, #333333 18%, transparent 18%); }

[data-fillometer="83"] {
  background-image: -webkit-linear-gradient(right, #333333 17%, transparent 17%);
  background-image: linear-gradient(to left, #333333 17%, transparent 17%); }

[data-fillometer="84"] {
  background-image: -webkit-linear-gradient(right, #333333 16%, transparent 16%);
  background-image: linear-gradient(to left, #333333 16%, transparent 16%); }

[data-fillometer="85"] {
  background-image: -webkit-linear-gradient(right, #333333 15%, transparent 15%);
  background-image: linear-gradient(to left, #333333 15%, transparent 15%); }

[data-fillometer="86"] {
  background-image: -webkit-linear-gradient(right, #333333 14.0%, transparent 14.0%);
  background-image: linear-gradient(to left, #333333 14.0%, transparent 14.0%); }

[data-fillometer="87"] {
  background-image: -webkit-linear-gradient(right, #333333 13%, transparent 13%);
  background-image: linear-gradient(to left, #333333 13%, transparent 13%); }

[data-fillometer="88"] {
  background-image: -webkit-linear-gradient(right, #333333 12%, transparent 12%);
  background-image: linear-gradient(to left, #333333 12%, transparent 12%); }

[data-fillometer="89"] {
  background-image: -webkit-linear-gradient(right, #333333 11%, transparent 11%);
  background-image: linear-gradient(to left, #333333 11%, transparent 11%); }

[data-fillometer="90"] {
  background-image: -webkit-linear-gradient(right, #333333 10%, transparent 10%);
  background-image: linear-gradient(to left, #333333 10%, transparent 10%); }

[data-fillometer="91"] {
  background-image: -webkit-linear-gradient(right, #333333 9%, transparent 9%);
  background-image: linear-gradient(to left, #333333 9%, transparent 9%); }

[data-fillometer="92"] {
  background-image: -webkit-linear-gradient(right, #333333 8%, transparent 8%);
  background-image: linear-gradient(to left, #333333 8%, transparent 8%); }

[data-fillometer="93"] {
  background-image: -webkit-linear-gradient(right, #333333 7.0%, transparent 7.0%);
  background-image: linear-gradient(to left, #333333 7.0%, transparent 7.0%); }

[data-fillometer="94"] {
  background-image: -webkit-linear-gradient(right, #333333 6%, transparent 6%);
  background-image: linear-gradient(to left, #333333 6%, transparent 6%); }

[data-fillometer="95"] {
  background-image: -webkit-linear-gradient(right, #333333 5%, transparent 5%);
  background-image: linear-gradient(to left, #333333 5%, transparent 5%); }

[data-fillometer="96"] {
  background-image: -webkit-linear-gradient(right, #333333 4%, transparent 4%);
  background-image: linear-gradient(to left, #333333 4%, transparent 4%); }

[data-fillometer="97"] {
  background-image: -webkit-linear-gradient(right, #333333 3%, transparent 3%);
  background-image: linear-gradient(to left, #333333 3%, transparent 3%); }

[data-fillometer="98"] {
  background-image: -webkit-linear-gradient(right, #333333 2%, transparent 2%);
  background-image: linear-gradient(to left, #333333 2%, transparent 2%); }

[data-fillometer="99"] {
  background-image: -webkit-linear-gradient(right, #333333 1%, transparent 1%);
  background-image: linear-gradient(to left, #333333 1%, transparent 1%); }

[data-fillometer="100"] {
  background-image: -webkit-linear-gradient(right, #333333 0%, transparent 0%);
  background-image: linear-gradient(to left, #333333 0%, transparent 0%); }

.line.is-selected i {
  background-color: #f0f0f0;
  padding: 5px 5px 10px;
  margin: 0 -5px;
  border-radius: 3px 3px 0 0;
  color: #333333;
  border: 0; }
.line.is-selected + .code-ref {
  display: block; }
