//************************************************************************//
// IMPORTS
//************************************************************************//

@import "vendor/normalize";
@import "bourbon/bourbon";

// Neat settings
@import "neat/neat-helpers";
$max-width: 100%;

@import "neat/neat";

// Fonts
@include font-face(batch-icons, '../../fonts/batch/batch-icons-webfont');
@include font-face(source-code, '../../fonts/source-code/SourceCodePro-Regular-webfont', normal);
@include font-face(source-code, '../../fonts/source-code/SourceCodePro-Bold-webfont', bold);

//************************************************************************//
// VARIABLES
//************************************************************************//

$color-background: #333;
$color-midground:  #555;
$color-foreground: #F0F0F0;
$color-fillometer: lighten($color-background, 5%);
$status-bad:       rgb(251, 111, 111);

$small:  em(20);
$medium: em(40);
$large:  em(60);

$padding: em(10);
$pane-width: 25%;
$ruler-size: em(30);

$font: $helvetica;
$font-mono: source-code, $monospace;
$font-icon: batch-icons;

$feature-header-background: darken($color-midground, 10%);

//************************************************************************//
// MIXINS
//************************************************************************//

@mixin carrot($background, $border) {
  position: relative;

  &::before {
    $size: 10px;
    @include position(absolute, 0px 0 0 50%);
    @include transform(rotate(45deg));
    background-color: $background;
    border: 1px solid $border;
    border-bottom: 0;
    border-right: 0;
    content: "";
    height: $size;
    margin-left: -($size / 2) - 1px;
    margin-top: -($size / 2) - 1px;
    width: $size;
  }
}

//************************************************************************//
// ELEMENTS
//************************************************************************//

html,
body {
  background-color: $color-background;
  color: $color-foreground;
  font-family: $font;
  font-size: 14px;
  line-height: em(20);
  height: 100%;
}

h1,
h2,
h3,
h4 {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: em(36);
}

p {
  margin: 0 0 1em;
  padding: 0;
}

a {
  text-decoration: none;
}

ol,
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.left {
  float: left !important;
}

.right {
  float: right !important;
}

.button {
  $size: $medium;
  background-color: $color-midground;
  border-radius: 5px;
  color: $color-foreground;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  height: $size;
  line-height: $size;
  min-width: $size;
  padding: 0 em(10);
  text-align: center;

  &.active {
    background-color: $color-foreground;
    color: $color-midground;
  }

  &.icon {
    padding: 0;
  }
}

.button-group {
  .button {
    border-radius: 0;
    float: left;
    margin-right: 3px;

    &:first-child {
      border-radius: 5px 0 0 5px;
    }

    &:last-child {
      border-radius: 0 5px 5px 0;
      margin-right: 0;
    }

    &:only-child {
      border-radius: 5px;
    }
  }
}

.icon {
  font-family: $font-icon;
  font-weight: normal;
  padding-right: 5px;
}

[data-fillometer] {
  background-color: $color-fillometer;

  &:hover {
    background-color: $status-bad !important;
  }
}

.scroll-container {
  overflow: scroll;
}

//************************************************************************//
// COMPONENTS
//************************************************************************//

.failometer {
  background-color: white;
  height: $large;

  a {
    border-left: 5px solid darken($color-midground, 10%);
    float: left;
    height: inherit;
    position: relative;
    cursor: pointer;

    &:first-child {
      border: 0;
    }

    &:hover {
      box-shadow: inset 0 0 0 3px white;
    }
  }

  [data-fail-intensity="0"] {
    background-color: $color-midground;
  }
}

.block {
  @include size($large);
  border-color: $color-midground;
  border-right: 1px solid $color-midground;
  color: $color-foreground;
  cursor: pointer;
  display: block;
  float: left;
  line-height: $medium;
  padding: em(10);
  position: relative;

  .icon {
    color: inherit;
    display: block;
    font-size: em(20);
    padding: 0;
    text-align: center;
  }

  &:hover {
    background-color: black;
  }

  &.is-selected {
    background-color: $color-midground;
    border-color: $color-background;
    color: $color-foreground;

    &:hover {
      background-color: lighten($color-midground, 5%);
    }
  }

  &[data-toggle-pane].is-selected {
    &::before {
      $size: 10px;
      @include position(absolute, 0 0 0px 50%);
      @include transform(rotate(45deg));
      background-color: $color-background;
      border-bottom: 0;
      border-right: 0;
      content: "";
      height: $size;
      margin-left: -($size / 2) - 1px;
      margin-bottom: -($size / 2);
      width: $size;
    }
  }
}

.avatar {
  overflow: hidden;
  position: relative;

  &.medium {
    @include size($medium);
    border-radius: 2px;
  }

  &.small {
    @include size($small);
    border-radius: 1px;
  }

  img {
    display: block;
    height: auto;
    width: 100%;
  }
}

.thumbnail {
  overflow: hidden;

  img {
    @include size(100% auto);
    display: block;
  }
}

.dropdown-toggle {
  border-radius: 5px;
  border: 1px solid $color-midground;
  color: darken($color-foreground, 20%);
  cursor: pointer;
  display: inline-block;
  padding: 0 10px;

  b {
    color: $color-foreground;
  }

  .icon {
    @include size(em(30));
    border-left: 2px solid $color-midground;
    color: inherit;
    margin-left: 10px;
    padding-left: 10px;
  }

  &:hover {
    background-color: $color-midground;

    .icon {
      border-color: $color-background;
    }
  }
}

.chooser,{
  @include box-flex(1);
  @include omega;
  border-bottom: 1px solid $color-midground;
  border-right: 1px solid $color-midground;
  color: $color-foreground;
  line-height: $small;
  padding: 0;

  &.is-selected {
    .chooser-menu {
      display: block;
      color: inherit;
    }
  }
}

.chooser-toggle {
  cursor: pointer;
  height: $large - em(1);
  padding: $padding $padding $padding em(60);

  .icon {
    $size: 20px;
    @include position(absolute, 50% 0 0px $padding);
    @include size($size);
    font-size: em(24);
    margin-top: -($size / 2);
    padding-top: 2px;
  }
}

.chooser-menu {
  @include position(absolute, $large 0px 0 -1px);
  margin-top: em(10);
  display: none;

  li {
    background-color: $color-fillometer;
    border: 0;
    color: inherit;
    cursor: pointer;
    height: $large;
    padding: $padding em(50) $padding $padding*2;
    position: relative;
    z-index: 1;

    &:last-child {
      border-radius: 0 0 5px 5px;
    }
  }
}

.view-controls {
  @extend .block;
  @include position(absolute, $large 0 0px 0px);
  height: auto;
  z-index: 10;
  overflow: hidden;

  &:hover {
    background-color: transparent;
  }

  .slider-end {
    @include position(absolute, 0px 0px 0 0px);
    line-height: $large;
    text-align: center;
    opacity: 0.5;

    &.branch {
      top: auto;
      bottom: 0;
    }
  }
}

.slider {
  @include position(absolute, $large 0px $large 0px);

  .ui-slider-handle {
    $size: 24px;
    @include position(absolute, 0 0 0 50%);
    @include size($size);
    background-color: $color-midground;
    border-radius: $size / 2;
    border: 5px solid $color-background;
    cursor: pointer;
    margin-left: -($size / 2) ;
    outline: none;
    z-index: 1;

    &::before {
      $size: 10px;
      @include position(absolute, 50% 0 0 28px);
      @include transform(rotate(45deg));
      background-color: $color-foreground;
      border-bottom: 0;
      border-right: 0;
      border: 1px solid $color-foreground;
      content: "";
      height: $size;
      margin-top: -($size / 2) - 1px;
      width: $size;
    }

    &:hover,
    &:active {
      background-color: $color-foreground;
    }
  }

  .ui-slider-track {
    $width: 4px;
    @include position(relative, 0 0 0 50%);
    background-color: $color-midground;
    width: $width;
    margin-left: -($width / 2);
    height: 100%;
  }
}

.preview {
  @include transition;
  @include position(relative, 0px 0px 0px 0px);
  @include size(100%);
  z-index: 1;
  overflow: hidden;

  iframe {
    @include position(absolute, 0px 0px 0px 0px);
    @include size(100%);
    border: 0;
    padding-left: $large;
  }
}

header {
  border-bottom: 1px solid $color-midground;
  color: $color-midground;
  height: $large;
  line-height: $medium;

  p {
    margin-bottom: 0;
  }
}

.toggle-switch {
  $switch-size: $small;
  @include box-sizing(content-box);
  @include clearfix;
  @include size($switch-size*3 $switch-size);
  @include transition;
  border-radius: 5px;
  border: 1px solid $color-foreground;
  cursor: pointer;
  padding: 3px;

  .switch {
    @include size($switch-size);
    background-color: $color-foreground;
    border-radius: 2px;
    display: block;
    position: relative;
    
    &::before {
      @include position(absolute, 0px 0px 0px 0px);
      font-family: $font-icon;
      font-size: 12px;
      line-height: $switch-size;
      text-align: center;
    }
  }

  &.toggle-off {
    background-color: $color-background;
    
    .switch {
      float: left;
    }
  }

  &.toggle-on {
    background-color: $color-midground;
    
    .switch {
      float: right;
    }
  }
}

//************************************************************************//
// MODULES
//************************************************************************//

.application-header {
  @include box-sizing(content-box);
  background-color: black;
  height: $medium;
  line-height: $medium;

  a {
    display: block;
    float: left;
    @include pad(0 default);
    border-left: 1px solid $color-background;  
    color: $color-midground;

    &:hover {
      background-color: darken($color-background, 10%);
      color: $color-foreground;
    }
  }

  a.logo {
    border-left: 0;
    border-right: 1px solid $color-background;
    font-weight: bold;
  } 
}

.page-header {
  @include display-box;
  @include box-align(start);
  @include box-orient(horizontal);
  @include box-pack(start);
  position: relative;
  border-bottom-width: 3px;

  .search-container {
    @include box-flex(1);
    height: $large;
    line-height: $large;
    position: relative;

    .icon {
      @include position(absolute, 0px 0 0 em(20));
      color: $color-midground;
    }

    input[type="search"] {
      @include position(absolute, 0px 0px 0px 0px);
      background-color: $color-background;
      border: 0;
      border-bottom: 3px solid $color-midground;
      color: $color-foreground;
      line-height: $large;
      outline: none;
      padding: 0 em(20) 0 em(50);

      @include placeholder {
        color: $color-midground;
      }

      &:focus {
        background-color: $color-midground;
        color: $color-foreground;

        @include placeholder {
          color: $color-background;
        }
      }

      &:focus + .icon {
        color: $color-background;
      }
    }
  }

  .block:last-of-type {
    border-left: 1px solid $color-midground;
    border-right: 0;
  }
}

.tests-list {
  @include outer-container;
  @include fill-parent;
  @include pad(default);
}

.test {
  border: 3px solid $color-midground;
  border-radius: 5px;
  margin-bottom: $gutter;

  .failometer {
    height: em(80);
  }
}

.test-header {
  @include row();
  border: 0;
  // border-bottom: 1px solid $color-foreground;
  color: white;
  height: $large;
  line-height: $large;
  padding: 0 0 0 em(20);
  background-color: $feature-header-background;

  .test-title {
    border-right: 1px solid $color-midground;
    margin-right: em(20);
    padding-right: em(20);
    float: left;
  }

  .test-time,
  .test-user {
    color: lighten($color-midground, 20%);
  }

  .test-time {
    float: left;
  }

  .test-user {
    @include clearfix;
    float: right;
    text-align: right;
    margin-right: $padding;

    strong {
      float: left;
    }
  }

  .avatar.medium {
    float: right;
    margin: $padding 0 0 $padding;
  }
}

.feature-details {
  @include fill-parent;
  @include outer-container;
  // border-top: 1px solid $color-foreground;

  .feature-header {
    background-color: $feature-header-background;
    color: $color-foreground;
    font-family: $font-mono;
    height: $medium;
    line-height: $medium;
    padding: 0 0 0 em(20);

    h4 {
      float: left;
    }
  }

  .feature-actions {
    float: right;
    
    .block {
      @include size($medium);
      line-height: 1.25em;
      border: 0;
      border-left: 1px solid $color-midground;
      text-align: center;
    }
  }

  .all-steps {
    @include row();
    background-color: $feature-header-background;
    border-radius: 0 0 4px 4px;
    border-top: 1px solid $color-midground;
    color: $color-midground;
    font-weight: bold;
    height: $medium;
    line-height: $medium;
    text-align: center;

    &:hover {
      background-color: $color-midground;
      color: $color-foreground;
    }
  }
}

.step {
  @include row();
  @include transition(all 0.05s);
  border-top: 3px solid $color-midground;

  &:first-of-type {
    border: 0;
  }

  &:hover {
    background-color: darken($color-background, 10%);
  }

  .thumbnail {
    @include span-columns(2 of 12);
    border-radius: 3px;
    border: 1px solid $color-midground;
    margin: $padding $gutter $padding $padding;
    min-height: 100px;
    overflow: hidden;
    padding: em(5);
  }

  .step-console {
    @include span-columns(10 of 12);
    padding-right: $gutter;
  }

  .step-header {
    height: $large;
    line-height: $large;
    position: relative;

    strong {
      color: $color-foreground;
    }
  }

  .toggle-switch {
    margin-top: em(15);
  }

  .toggle-off {
    background-color: $status-bad;
  }

  pre {
    $height: em(30);
    font-family: $font-mono;
    line-height: $height;
    margin: $gutter $gutter $gutter 0;
  }
}

.pane-container {
  @include transition;
  background-color: $color-background;
  width: $pane-width;

  .pane {
    display: none;
    position: relative;

    &.is-active {
      display: block;
    }
  }

  .ui-resizable-handle {
    @include position(absolute, 0px 0 0px 0px);
    width: 10px;
    cursor: col-resize;
  }
}

// COMMENTS
.conversations-pane {
  height: 100%;
  
  .scroll-container {
    @include position(absolute, 0px 0 0px 0);
  }
}

.comment {
  @include pad(default);
  border-top: 1px solid $color-midground;

  &:first-child {
    border: 0;
  }

  p {
    @include pad(0 default);
  }
}

.comment-header {
  @include pad(0 0 default);
  color: darken($color-foreground, 40%);
  font-weight: bold;
  font-size: em(18);
}

.comment-footer {
  @include pad(default 0 0);
  color: $color-midground;
  text-align: right;
}

.comment-form {
  @include position(absolute, 0 0 0px 0);
  @include pad(default);
  @include fill-parent;
  background-color: $color-background;

  textarea {
    border-radius: 5px 5px 0 0;
    min-height: em(80);
    width: 100%;
  }

  .button {
    border-radius: 0 0 5px 5px;
    width: 100%;
  }
}

// CODE
.code-header {
  @include pad($padding default);
  color: $color-foreground;
  text-align: center;
}

.code-container {
  @include outer-container;
  border-bottom: 1px solid $color-midground;
}

.line {
  @include clearfix;

  &:hover {
    background-color: darken($color-background, 5%);
  }
}

.line-number, 
.line-code {
  $height: em(40);
  float: left;
  font-family: $font-mono;
  height: $height;
  line-height: $height;
  padding: 0 $padding;
}

.line-number {
  border-right: 1px solid $color-midground;
  text-align: right;
  width: 15%;
}

.line-code {
  margin: 0;
  text-align: left;
  width: 85%;

  i {
    border-bottom: 1px solid $color-foreground;
    cursor: pointer;
    font-style: normal;
    font-weight: bold;
  }
}

.code-ref {
  background-color: black;
  border-top: 1px solid $color-foreground;
  display: none;

  .ref-header {
    @include pad(default);

    .icon {
      float: right;
    }
  }

  .code-container {
    border-color: $color-foreground;

    .line:hover {
      background-color: lighten(black, 15%);
    }
  }
}

// RULERS
.ruler {
  @include transition;
  background-color: rgba(black, 0.2);
  background-position: 0 0;
  position: absolute;
  z-index: 8;
}

.ruler-top {
  @include size(100% $ruler-size);
  background-image: url("../../images/ruler-horizontal.svg");
  background-position-x: $large + $ruler-size;
  background-repeat: repeat-x;
  top: -$ruler-size;
  left: $large;
}

.ruler-left {
  @include size($ruler-size 100%);
  background-image: url("../../images/ruler-vertical.svg");
  background-repeat: repeat-y;
  left: -$ruler-size;
  top: 0;
}

.ruler-dimensions {
  @include position(absolute, $ruler-size+1em 1em 0 auto);
  background-color: rgba(black, 0.6);
  border-radius: 3px;
  color: $color-foreground;
  display: inline-block;
  font-weight: bold;
  padding: 5px 10px;
  display: none;
}

//************************************************************************//
// PAGES
//************************************************************************//

.page-index {
  .pane-container {
    @include position(absolute, $large+$medium 0 0px 0);
    border-right: 1px solid $color-midground;
    left: -$pane-width;
  }
}

.page-test {
  overflow: hidden;

  .pane-container {
    @include position(absolute, $large 0 0px 0);
    right: -$pane-width;
  }
}

//************************************************************************//
// STATES
//************************************************************************//

.failometer {
  .is-selected {
    @include carrot($feature-header-background, null);

    &::before {
      top: auto;
      bottom: -6px;
    }
  }
}

body.page-index.pane-open {
  .tests-list {
    margin-left: $pane-width;
    width: 100% - $pane-width;
  }

  .pane-container {
    left: 0;
  }
}


body.page-test.pane-open {
  .preview {
    width: 100% - $pane-width;
  }

  .pane-container {
    right: 0;
  }
}

body.rulers-open {
  .ruler-top {
    top: 0;
  }

  .ruler-left {
    left: $large;
  }

  .ruler-dimensions {
    display: block;
  }
}

@for $i from 1 through 100 {
  [data-fillometer="#{$i}"] {
    $perc: (100 - $i) / 100;
    @include background-image(linear-gradient(to left, $color-background percentage($perc), transparent percentage($perc) ));
  }
}

.line.is-selected {
  i {
    background-color: $color-foreground;
    padding: 5px 5px 10px;
    margin: 0 -5px;
    border-radius: 3px 3px 0 0;
    color: $color-background;
    border: 0;
  }

  + .code-ref  {
    display: block;
  }
}
